




<h3>Аккордовые сетки.</h3>

<p>Для наглядного изображения нот на грифе, в основном для схематического изображения аккордов, применяются специальные рисунки- аккордовые сетки. На них изображен гриф гитары, верхняя струна- 1, нижняя- 6; точками указаны места прижатия струн или звучащие открытые струны, крестиками- не звучащие струны:</p>

<p>C 1 2 3 4Eb6 7 8</p>
<p><img width=139 height=113 src="./data/img/theory/o1.gif"><img width=76 height=106 src="./data/img/theory/o2.gif"></p>


