<h3>Построение аккордов</h3>
<p><strong>Аккордом</strong> называется созвучие из трех и более звуков, расположенных по терциям. Нижний звук аккорда - основной тон, или тоника, остальные звуки называются  как интервалы от основного - терция, квинта, септима. Чаще всего, аккорды записываются буквенно-цифровым способом - <strong>Аm, G7, C</strong> и т. д. Заглавная буква указывает на тонику аккорда, остальные символы касаются его вида. Аккорд из трех звуков (тоника, терция, квинта) называется <strong>трезвучием</strong>. Трезвучия бывают 4 видов - мажорные, минорные, уменьшенные, увеличенные. Остановимся на этом подробнее.</p>
<p><strong>Мажорное трезвучие</strong> состоит из большой  и малой  терций, короче б3 + м3. Звучание яркое, радостное, уверенное.</p>
<p>
    <img src="./data/img/theory/chords/image001.gif">
    <img src="./data/img/theory/chords/image002.gif">
</p>

<p><strong>Минорное трезвучие</strong> - м3 + б3, звучит печально, грустно.</p>
<p>
    <img src="./data/img/theory/chords/image004.gif">
    <img src="./data/img/theory/chords/image005.gif">
</p>

<p><strong>Уменьшенное трезвучие</strong> - м3 + м3, неуверенное звучание.</p>
<p>
    <img src="./data/img/theory/chords/image006.gif">
    <img src="./data/img/theory/chords/image007.gif">
</p>

<p><strong>Увеличенное трезвучие</strong> - б3 + б3, напряженное звучание.</p>
<p>
    <img src="./data/img/theory/chords/image008.gif">
    <img src="./data/img/theory/chords/image009.gif">
</p>

<p>Наиболее используемые трезвучия - мажорные и минорные, увеличенные и уменьшенные встречаются гораздо реже. При игре трезвучий на гитаре часто используют 5 или 6 струн,  звуки аккорда могут располагаться в разной последовательности, некоторые из них удваиваются, а иногда и утраиваются. Вот несколько распространенных для гитары аккордов. Проиграйте их на гитаре и послушайте окраску:</p>
<p>
    <img src="./data/img/theory/chords/image010.gif">
    <img src="./data/img/theory/chords/image011.gif">
    <img src="./data/img/theory/chords/image012.gif">
    <img src="./data/img/theory/chords/image013.gif">
    <img src="./data/img/theory/chords/image014.gif">
</p>

<p>Кругом выделены тоники  аккордов. Послушайте их звучание отдельно, и в аккорде.</p>
<p>Аккорд из четырех звуков называется <strong>септаккордом</strong>. Септаккорды бывают нескольких видов, наиболее распространенный в рок-музыке - доминантовый (малый мажорный) септаккорд. Он состоит из мажорного трезвучия и малой терции:</p>
<p>
    <img src="./data/img/theory/chords/image015.gif">
</p>

<p>Вот один из вариантов этого аккорда для гитары, сыграйте и послушайте его звучание:</p>
<p>
    <img src="./data/img/theory/chords/image016.gif">
</p>

<p>Примеры использования этих и других аккордов вы найдете в риффах:</p>
<p><strong>Cranberries - Animal Instinct</strong></p>
<p><strong>Cranberries - Zombie</strong></p>