




<h3>Для чего нужно изучать теорию?</h3>

<p>Добро пожаловать в теоретический раздел нашей школы. Для начала ответим себе на вопрос: зачем вообще изучать теорию музыки? Многие великие музыканты не знают теории и прекрасно себя чувствуют: выпускают огромными тиражами пластинки, играют концерты на стадионах, постоянно мелькают на экране телевизоров. «Ну и к чему мне эти ноты?»- скажет гитарист-самоучка, у которого, при виде нотного стана, волосы встают дыбом. На самом деле все не так просто.</p>
<p>Во-первых: вышеупомянутые музыканты, это очень талантливые люди, которым многое дано от природы. Если вы считаете себя не менее талантливым, чем Пол Маккартни (кстати, он не знает нот), можете не читать этот раздел.</p>
<p>Во-вторых: большинство этих музыкантов участвовало в самом начале развития современной музыки-1960-е годы, сами создавали ее и изучали все необходимое в процессе творчества.</p>
<p>В-третьих: иногда эти люди лукавят, говоря что, не знают нот, чтобы быть «ближе к народу».</p>
<p>В-четвертых: многих молодых артистов раскручивают за счет внешности и других причин, не связанных с музыкой, как правило, про них забывают, спустя 2-3 года.</p>
<p>В-пятых: всегда есть талантливые самородки, доходящие до всего своим путеми плохо поддающиеся обучению.</p>

<p>А теперь давайте рассмотрим преимущества, которые дает знание теории:</p>

<p>-изучая теорию вы становитесь более образованным музыкантом.</p>
<p>-беспорядочные сведения, которыми вы владели раньше, превращаются в стройную систему.</p>
<p>-вы сможете говорить с остальными музыкантами на одном языке.</p>
<p>-изучая основы импровизации, лады и т. д. Вам будет гораздо легче «снимать» других гитаристов (и не только гитаристов), вы будете знать, что происходит и чем пользоваться, импровизируя сами.</p>
<p>-занимаясь сольфеджио, вы лучше будете чувствовать гриф, улучшится фразировка и общая музыкальность.</p>
<p>-вполне возможно, вам будет легче писать музыку.</p>

<p>Так что решайте сами, изучать вам теорию или нет. Одного человека она может лишить индивидуальности, другому поможет найти свой путь.</p>




