




<h3>Расположение нот на грифе.</h3>

<p>Вы уже знаете, что минимальное расстояние между двумя звуками - полутон (см. звукоряд). На грифе гитары это расстояние между соседними ладами на одной струне или между открытой (не прижатой) струной и первым ладом:</p>

<p><img width=221 height=115 src="./data/img/theory/m1.gif"></p>

<p><img width=114 height=98 src="./data/img/theory/m2.gif"></p>

<p>Таким образом, между 2 ладами - тон, между 3- 1.5 тона и т. д.</p>
<p>Вот в качестве примера, расположение основных нот звукоряда по 1 струне:</p>

<p><img width=319 height=81 src="./data/img/theory/m3.gif"></p>

<p>После 12 лада, другими словами через 12 полутонов, звуки повторяются октавой выше. Лежащие между основными ступенями звукоряда ноты именуются двояко:</p>

<p><img width=126 height=105 src="./data/img/theory/m4.gif"></p>

<p>Вы всегда сможете их найти, зная основные.</p>

<p>Поскольку 2 струна на 5 ладу дает унисон с открытой 1 (см. настройка гитары), ноты на ней с 5 лада повторяют звучание 1 струны:</p>

<p><img width=269 height=81 src="./data/img/theory/m5.gif"></p>

<p>Этот принцип справедлив для всех остальных струн (3 струна повторяет звучание 2 начиная с 4 лада).</p>
<p>Вот полная схема расположения основных нот звукоряда на грифе гитары:</p>
<p><img width=622 height=86 src="./data/img/theory/m6.gif"></p>

<p>Чтобы быстрее ее освоить есть несколько рекомендаций:</p>
<p>1. Cначала выучите ноты на открытых струнах, если вы этого еще не сделали:</p>

<p><img width=99 height=84 src="./data/img/theory/m7.gif"></p>

<p>2. Теперь постепенно, струна за струной выучите ноты на каждой струне до 5 лада (ноты на 1 и 6 струнах имеют одинаковые названия и отстоят на 2 октавы). Вспомните расстояние между основными ступенями звукоряда и на каких ладах настраивается гитара, это поможет:</p>

<p><img width=145 height=86 src="./data/img/theory/m8.gif"></p>

<p>3. Помните, после 12 лада ноты повторяются, поэтому, зная их расположение на открытых струнах и первых пяти ладах, вы знаете их и на ладах с 12 по17:</p>
<p><img width=623 height=86 src="./data/img/theory/m9.gif"></p>

<p>4. Далее выучите ноты по 5 и 6 струне до 12 лада.</p>

<p><img width=326 height=29 src="./data/img/theory/m10.gif"></p>

<p>5. Для поиска остальных нот используйте принцип переноса на октаву, не забывайте, названия нот на 1 и 6 струнах совпадают:</p>

<p><img width=206 height=79 src="./data/img/theory/m11.gif"></p>

<p><img width=204 height=75 src="./data/img/theory/m12.gif"></p>

<p>Имейте в виду - это долгий процесс, не торопитесь - лучше учить ноты регулярно и понемногу. Выделяйте на это какое-то время при занятиях на гитаре, вы можете учить их и только с помощью схемы, например в транспорте, но не забывайте перенести это на инструмент. На первых порах вы, скорее всего, будете пользоваться табулатурой, но смотрите и на нотный стан- ноты и соответствующие им лады постепенно будут откладываться у вас в голове.</p>
<p>Если вы выучили ноты на нотоносце, вот схема, которая поможет найти любую ноту нотного стана на грифе:</p>
<p><img width=619 height=696 src="./data/img/theory/m13.gif"></p>

<p>Освоив эту схему вы сможете разбирать на гитаре любую музыку, без табулатуры.</p>


