




<h3>Лады, тоника лада, тоническое трезвучие, тональность, гамма, мажор, минор, мажорная и минорная пентатоники, хроматический лад.</h3>

<p>Говоря научным языком, лад- это взаимосвязь музыкальных звуков, одни из которых (неустойчивые) тяготеют к другим (устойчивым). В каждом ладу есть один, самый устойчивый звук, к которому тяготеют остальные. Он называетсятоникой лада(не путать с тоникой аккорда). Звуки, отстоящие от тоники на терцию и квинту, относительно устойчивы. Вместе эти три звука образуюттоническое трезвучие. Остальные звуки лада стремятся перейти (разрешиться) в ближайший из них.</p>
<p>От вида тонического трезвучия зависит характер звучания лада: мажорное - жизнеутверждающее, светлое; минорное - грустное, меланхоличное.</p>
<p>По высоте основного тона и виду тонического трезвучия определяюттональностьмузыкального произведения, например: основной тон- Фа, тоническое трезвучие- мажорное, следовательно тональность- Фа мажор (сокращенно Fdur), или основной тон- Си, тоническое трезвучие- минорное, тональность- Си минор (Bmoll)</p>
<p>Если сыграть все звуки лада от тоники до ее октавного повторения, получитсягамма. В большинстве случаев слова гамма и лад- синонимы. Ступени лада обозначаются римскими цифрами, или именуются в зависимости от расстояния до тоники. Например:</p>


<p><img width=452 height=69 src="./data/img/theory/k1.gif"></p>


<p>Лады могут состоять из разного количества звуков: пять (пентатоника), шесть (целотонный), семь (мажор, минор, другие натуральные лады), восемь (уменьшенный), двенадцать (хроматический) и т. д. Количество ладов огромно, но для изучения этой школы вам потребуется знание пяти из них: мажорного, минорного, минорной пентатоники, мажорной пентатоники и хроматического лада. Будем знакомиться с ними по порядку:</p>
<p>Мажор-лад, состоящий из 7 звуков, тоническое трезвучие которого - мажорное. Строение натуральной мажорной гаммы следующее:</p>

<p><img width=252 height=83 src="./data/img/theory/k2.gif"></p>

<p>Этот лад имеет радостное, оптимистичное звучание. Почувствуйте его, сыграв на гитаре (кругом обозначена тоника):</p>
<p>I II III IV V VI</p>
<p><img width=154 height=73 src="./data/img/theory/k3.gif"></p>

<p>Минор- лад, состоящий из 7 звуков, тоническое трезвучие - минорное. Звучание грустное, меланхоличное. Вот строение натуральной минорной гаммы:</p>

<p><img width=248 height=80 src="./data/img/theory/k4.gif"></p>

<p>А вот как она выглядит на грифе:</p>

<p><img width=154 height=74 src="./data/img/theory/k5.gif"></p>

<p>Нетрудно заметить, что в этих гаммах одни и те же звуки, отличаются только точки отсчета- тоники. Это явление носит названиепараллелизм тональностей, а гаммы в данном случае называют параллельными. Тоника мажорной гаммы выше тоники параллельной минорной на малую терцию. Таким образом, выучив одну гамму, например ре мажор, вы знаете две - ре мажор и си минор.</p>
<p>Если в натуральном миноре повысить седьмую ступень на полтона, то получится гармонический минор:</p>

<p><img width=248 height=58 src="./data/img/theory/k6.gif"></p>

<p>Этот лад широко пропагандировал небезызвестный герой шведского народа Ингви Мальмстин. Самостоятельно найдите ее на грифе и послушайте, как она звучит.</p>
<p>Повысив в натуральном миноре, при движении вверх, шестую и седьмую ступени, получаем мелодический минор. При движении вниз гамма звучит как натуральная.</p>
<p><img width=520 height=60 src="./data/img/theory/k7.gif"></p>

<p>Разберите ее самостоятельно.</p>

<p>Чтобы построить натуральный мажорный лад от любого звука кроме ДО (или натуральный минорный от любого звука кроме ЛЯ) требуются знаки альтерации, например:</p>
<p><img width=274 height=61 src="./data/img/theory/k8.gif"></p>

<p>Дабы не писать их каждый раз, когда они встречаются, эти знаки выносятся в начало каждой строчки произведения и пишутся после ключа, отсюда их название - ключевые:</p>

<p><img width=273 height=61 src="./data/img/theory/k9.gif"></p>

<p>При исполнении произведения они действуют автоматически на всем его протяжении (в данном случае вместо чистых фа, до, соль и ре, играются фа диез, до диез, соль диез, ре диез). Для их отмены применяется знак бекар (см. нотное письмо), который действует в пределах одного такта.</p>
<p>По виду знаков при ключе тональности делятся на диезные и бемольные. Каждой тональности соответствует свой набор ключевых знаков (за исключением параллельных), и опытный музыкант, глядя в ноты, может всегда определить в какой тональности написано произведение.</p>
<p>Мажоро-минорная система- основа европейской классической музыки. В рок-музыке наряду с мажором и минором широко применяются минорная и мажорная пентатоники.</p>

<p>Минорная пентатоника -лад из пяти звуков, соответствующий натуральному минору без второй и шестой ступеней:</p>

<p><img width=200 height=71 src="./data/img/theory/k10.gif"></p>

<p><img width=250 height=72 src="./data/img/theory/k11.gif"></p>

<p>На грифе минорная пентатоника выглядит так:</p>
<p>V VI VII VIII</p>
<p><img width=152 height=81 src="./data/img/theory/k12.gif"></p>
<p>Фразы, построенные на основе этого лада имеют ярко выраженный блюзовый характер. Минорную пентатонику используют все рок-гитаристы, в рок-музыке этот лад можно считать основным.</p>

<p>Мажорная пентатоника-лад из пяти звуков, соответствующий натуральному мажору без четвертой и седьмой ступеней:</p>
<p><img width=220 height=80 src="./data/img/theory/k13.gif"></p>

<p><img width=268 height=75 src="./data/img/theory/k14.gif"></p>

<p>На грифе мажорная пентатоника выглядит следующим образом:</p>
<p>I II III IV V</p>
<p><img width=129 height=81 src="./data/img/theory/k15.gif"></p>

<p>Фразы в мажорной пентатонике дают колорит музыки кантри, она применяется, когда надо создать веселое, оптимистичное звучание.</p>

<p>Хроматическая гамма- лад, построенный по полутонам и содержащий все 12 звуков, входящих в октаву:</p>
<p><img width=351 height=66 src="./data/img/theory/k16.gif"></p>

<p><img width=229 height=81 src="./data/img/theory/k17.gif"></p>

<p>Мы будем использовать фрагменты хроматической гаммы в упражнениях.</p>


