<h3>Интервалы.</h3>


<p>Интервал - это расстояние между любыми двумя звуками (ступенями звукоряда). Интервалы бывают мелодическими, когда звуки берутся последовательно, и гармоническими (звуки берутся одновременно).</p>
<p>На гитаре, мелодические интервалы могут быть сыграны как на одной, так и на разных струнах, гармонические - только на разных:</p>
<p><strong>Мелодический интервал:</strong></p>
<p>
    <img src="./data/img/theory/interval/image001.gif">
    <img src="./data/img/theory/interval/image003.gif">
</p>

<p><strong>Гармонический интервал:</strong></p>
<p>
    <img src="./data/img/theory/interval/image002.gif">
    <img src="./data/img/theory/interval/image004.gif">
</p>

<p>Интервалы, не превышающие октаву, называются простыми, превышающие - составными. Рассмотрим более подробно простые интервалы. В соответствии с расстоянием между ступенями звукоряда они имеют следующие названия:</p>
<p><strong>Прима или унисон</strong> - звуки располагаются на одной ступени</p>
<p>
    <img src="./data/img/theory/interval/image005.gif">
    <img src="./data/img/theory/interval/image006.gif">
</p>
<p><strong>Секунда</strong> - интервал в две ступени звукоряда. Поскольку между ними может быть разное расстояние, секунды бывают малые (полтона) и большие (тон).</p>
<p><strong>Малая секунда:</strong></p>
<p>
    <img src="./data/img/theory/interval/image007.gif">
    <img src="./data/img/theory/interval/image008.gif">
    <img src="./data/img/theory/interval/image009.gif">
</p>
<p><strong>Большая секунда:</strong></p>
<p>
    <img src="./data/img/theory/interval/image010.gif">
    <img src="./data/img/theory/interval/image011.gif">
    <img src="./data/img/theory/interval/image012.gif">
</p>
<p><strong>Терция</strong> - интервал в три ступени. Терции так же бывают большими и малыми, другое название минорные - 1.5 тона и большими (мажорные)- 2 тона.</p>
<p><strong>Малая терция:</strong></p>
<p>
    <img src="./data/img/theory/interval/image013.gif">
    <img src="./data/img/theory/interval/image014.gif">
    <img src="./data/img/theory/interval/image015.gif">
</p>
<p><strong>Большая терция:</strong></p>
<p>
    <img src="./data/img/theory/interval/image016.gif">
    <img src="./data/img/theory/interval/image017.gif">
</p>
<p><strong>Кварта</strong> - интервал в четыре ступени или 2.5 тона:</p>
<p>
    <img src="./data/img/theory/interval/image018.gif">
    <img src="./data/img/theory/interval/image019.gif">
</p>
<p><strong>Тритон</strong>, он же - увеличенная кварта, он же - уменьшенная квинта- интервал в 3 тона, отсюда и название. Из-за своего резкого звучания особо любим недобитыми джазменами. Записывается и как ув. кварта и как ум. квинта.</p>
<p>
    <img src="./data/img/theory/interval/image020.gif">
    <img src="./data/img/theory/interval/image021.gif">
</p>
<p><strong>Квинта</strong> - интервал в пять ступеней, 3.5 тона. Любимый интервал всех рокеров, основа огромного числа риффов и аккомпанирующих партий.</p>
<p>
    <img src="./data/img/theory/interval/image022.gif">
    <img src="./data/img/theory/interval/image023.gif">
</p>
<p><strong>Секста</strong> - интервал в шесть ступеней, малая секста содержит 4 тона, большая- 4.5 тона.</p>
<p><strong>Малая секста:</strong></p>
<p>
    <img src="./data/img/theory/interval/image024.gif">
    <img src="./data/img/theory/interval/image025.gif">
</p>
<p><strong>Большая секста:</strong></p>
<p>
    <img src="./data/img/theory/interval/image026.gif">
    <img src="./data/img/theory/interval/image027.gif">
</p>
<p><strong>Септима</strong> - интервал в семь ступеней, малая септима- 5 тонов, большая- 5.5 тонов.</p>
<p><strong>Малая септима:</strong></p>
<p>
    <img src="./data/img/theory/interval/image028.gif">
    <img src="./data/img/theory/interval/image029.gif">
</p>
<p><strong>Большая септима:</strong></p>
<p>
    <img src="./data/img/theory/interval/image030.gif">
    <img src="./data/img/theory/interval/image031.gif">
</p>
<p><strong>Октава</strong> - интервал в восемь ступеней или 6 тонов. Повторение звука в более высоком диапазоне:</p>
<p>
    <img src="./data/img/theory/interval/image032.gif">
    <img src="./data/img/theory/interval/image034.gif">
</p>
<p>По звучанию интервалы делятся на консонансы и диссонансы. Консонансы при одновременном извлечении звучат мягко, звуки как бы сливаются - это примы, терции, кварты, квинты, сексты, октавы. Диссонансы  звучат резко: секунды, тритоны, септимы. Перенесение нижнего звука на октаву выше называется обращением интервала:</p>
<p>
    <img src="./data/img/theory/interval/image035.gif">
</p>
<p>При обращении, секунда превращается в септиму, терция- в сексту, кварта- в квинту, тритон остается тритоном, квинта- в кварту, секста- в терцию, септима- в секунду. Малые интервалы превращаются в большие (например большая терция- в малую сексту) и наоборот.</p>