




<h3>Нотное письмо</h3>

<p>Для записи музыки применяются специальные знаки, совокупность которых называется нотное письмо. Основные его элементы: ноты, нотный стан (нотоносец), ключи, знаки сокращений.</p>
<p>Нота- знак, фиксирующий высоту и длительность звука.</p>

<p><img width=180 height=81 src="./data/img/theory/c1.gif"></p>

<p>Зачастую нотой называют так же любой звук определенной высоты и длительности.</p>
<p>Высота ноты определяется расположением ее нотной головки на нотоносце, о котором ниже. На длительность ноты указывает цвет нотной головки (заштрихованный или нет), штиль и количество на нем штрихов. Самой большой длительности соответствует целая нота :</p>
<p><img width=57 height=42 src="./data/img/theory/c2.gif"></p>
<p>остальные ноты обозначают доли целой, полученные путем деления на две, четыре, восемь, шестнадцать и т. д. частей. Они так и называются:</p>

<p>половинная четверть восьмая шестнадцатая</p>
<p><img width=51 height=77 src="./data/img/theory/c3.gif"><img width=42 height=74 src="./data/img/theory/c4.gif"><img width=52 height=75 src="./data/img/theory/c5.gif"><img width=50 height=75 src="./data/img/theory/c6.gif"></p>

<p>Таким образом, получается схема:<img width=641 height=168 src="./data/img/theory/c7.gif"></p>

<p>Длительность ноты - относительная величина, и зависит от темпа произведения- в медленном темпе, четвертная нота может длится во времени дольше, чем половинная в быстром.</p>

<p>Нотный стан представляет собой 5 горизонтальных линеек:</p>
<p><img width=400 height=53 src="./data/img/theory/c8.gif"></p>
<p>На линейках , между ними, а так же выше их и ниже, пишутся основные ноты звукоряда в порядке возрастания- от более низких к более высоким:</p>

<p><img width=132 height=90 src="./data/img/theory/c9.gif"></p>

<p>Для записи нот, находящихся за пределами нотоносца, применяются добавочные линейки, их нумерация ведется в направлении от основных:</p>

<p><img width=48 height=82 src="./data/img/theory/c10.gif"></p>

<p>Для закрепления за каждой линейкой нотного стана определенной высоты применяются ключи- знаки проставляемые в начале нотной строки.</p>
<p>При записи нот для гитары используется скрипичный ключ, или ключ соль. Вторая линейка, от которой он пишется, соответствует ноте соль первой октавы (ноты для гитары исторически записываются на октаву выше своего звучания, поэтому в них вторая линейка- нота соль малой октавы)</p>
<p><img width=80 height=64 src="./data/img/theory/c11.gif"></p>
<p>Таким образом, остальные линейки нотоносца и пропуски между ними, в скрипичном ключе соответствуют следующим нотам:</p>

<p><img width=348 height=95 src="./data/img/theory/c12.gif"></p>
<p>Эту последовательность легко выучить, используя несложный метод: вытяните палец левой руки перед собой наподобие нотного стана:</p>

<p><img width=197 height=152 src="./data/img/theory/c13.gif"></p>

<p>Теперь присвойте каждому пальцу название ноты, соответствующей линейке нотоносца в скрипичном ключе:</p>

<p><img width=250 height=151 src="./data/img/theory/c14.gif"></p>

<p>Выучите эти ноты. Этим можно заняться в транспорте или в любом другом месте. Просто перебирайте пальцами, благо рука всегда рядом.</p>
<p>После этого по этой же схеме, присвойте названия нот пространству между пальцами, под ними и над. Выучите их, используя этот же метод:</p>

<p><img width=250 height=172 src="./data/img/theory/c15.gif"></p>

<p>А теперь, после того, как вы добросовестно выучили ноты на нотном стане, давайте разберемся со знаками, специально придуманными для лентяев - знаками сокращения нотного письма.</p>
<p>Перенос звуков на октаву вверх или вниз. Этот знак применяется для того, чтобы избавится от дополнительных линеек при записи нот в высоком или низком регистрах:<img width=274 height=139 src="./data/img/theory/c16.gif"><img width=275 height=110 src="./data/img/theory/c17.gif"></p>

<p>Реприза- точное повторение фрагмента произведения:<img width=625 height=112 src="./data/img/theory/c18.gif"><img width=396 height=94 src="./data/img/theory/c19.gif"><img width=572 height=94 src="./data/img/theory/c20.gif"></p>
<p>Вольты- различные окончания одного фрагмента:<img width=550 height=107 src="./data/img/theory/c21.gif"></p>
<p>Существуют и другие знаки сокращения, но для изучения этой школы они не понадобятся.</p>
<p>Помимо этих знаков существуют знаки увеличения длительность ноты:</p>
<p>Лига- дугообразная линия, соединяющая ноты одинаковой высоты. Она увеличивает звучание первой ноты на длину второй:</p>
<p><img width=83 height=45 src="./data/img/theory/c22.gif"></p>
<p>Точка- увеличивает звучание ноту на половину ее длительности (две точки увеличивают звучание на половину и четверть):</p>
<p><img width=88 height=48 src="./data/img/theory/c23.gif"></p>
<p>Фермата- остановка на ноте на неопределенное количество времени (например, гитарист выронил медиатор):</p>
<p><img width=38 height=53 src="./data/img/theory/c24.gif"></p>





