<h3>Ритм, метр, сильные и слабые доли, такт, размер.</h3>

<p>Слушая музыку, мы почти всегда можем прохлопать или протопать ей в такт (на концерте любимой группы еще и потрясти головой). Совершая эти действия мы, сами того не замечая, отсчитываем равные доли, к примеру: РАЗ-два-три-четыре, РАЗ-два - три-четыре; или: РАЗ-два-три, РАЗ-два-три. При этом на «РАЗ» приходится акцент, обозначаемый - &gt;. Акцент, в этом случае, называетсясильной долей. Остальные доли -слабые. Неизменное чередование сильных и слабых долей, образуетметр- пульс любой музыки. В современной музыке длительность доли соответствует четвертной ноте (четверти)-<img width=7 height=23 src="./data/img/theory/d1.jpg"> Таким образом, метр может быть записан:</p>

<p><img width=143 height=129 src="./data/img/theory/d2.gif"></p>

<p>Расстояние от одной сильной доли до другой называетсятактом. Такты разделяются тактовыми чертами:</p>

<p><img width=300 height=62 src="./data/img/theory/d3.gif"></p>

<p>Количество долей, и их длительность определяетразмертакта и, в большинстве случаев, всего произведения. Размер записывается дробью в начале произведения:</p>

<p><img width=205 height=110 src="./data/img/theory/d4.gif"></p>

<p>Это самый распространенный в современной музыке размер - «четыре четверти». Большинство примеров в этой школе, написаны в нем.</p>
<p>Чаще всего, музыканты отстукивают метр ступней, причем на 1 и 3 доли «играет» пятка, а на 2 и 4- носок. Потренируйтесь отсчитывать метр, таким образом, мы еще вернемся к этому.</p>
<p>Помимо чередования сильных и слабых долей, в музыке происходит непрерывное чередование звуков различной длительности, называемоеритмом. Вы уже знаете основные виды деления длительностей в музыке:<img width=96 height=30 src="./data/img/theory/d5.gif">(подробнее см.«Нотноеписьмо»). Помимо них существуют особые:</p>
<p>1.Триоль -ритмическая фигура, в которой основная длительность чаще всего четверть) делится на три равные части:</p>
<p><img width=242 height=42 src="./data/img/theory/d6.gif"></p>
<p>Таким образом, каждая нота триоли короче восьмой, но длиннее шестнадцатой.</p>
<p>Реже встречается четвертная триоль, в ней делится на три части половинная нота:</p>
<p><img width=154 height=47 src="./data/img/theory/d7.gif"></p>

<p>2.Секстоль- длительность делится на шесть частей:</p>
<p><img width=254 height=42 src="./data/img/theory/d8.gif"></p>

<p>Остальные виды встречаются в популярной музыке значительно реже.</p>

<p>Отдельно от высоты нот, ритм может быть записан в видеритмического рисунка:</p>

<p><img width=199 height=42 src="./data/img/theory/d9.gif"></p>

<p>Предлагаю проделать следующее упражнение: медленно отстукивайте ногой метр в размере 4/4 (пятка-носок), а руками хлопайте ритмический рисунок:</p>

<p><img width=313 height=37 src="./data/img/theory/d10.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 1</span>
    <audio controls>
        <source src="./data/audio/03041.wav" type="audio/wav">
    </audio>
</div>

<p>Помните, с окончанием такта музыка не прекращается, метр идет непрерывно, нога работает постоянно (барабанщик потом подстраиваться не будет). Не делайте пауз между тактами - расстояние между последней долей такта и первой долей следующего равно расстоянию между долями внутри такта. Старайтесь точно «попадать» хлопками в метр (ногу).</p>
<p>Вот еще несколько примеров, сначала попробуйте их простучать, потом прослушайте звуковые файлы:</p>

<p><img width=331 height=42 src="./data/img/theory/d11.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 2</span>
    <audio controls>
        <source src="./data/audio/03042.wav" type="audio/wav">
    </audio>
</div>

<p><img width=331 height=42 src="./data/img/theory/d12.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 3</span>
    <audio controls>
        <source src="./data/audio/03043.wav" type="audio/wav">
    </audio>
</div>

<p><img width=362 height=41 src="./data/img/theory/d13.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 4</span>
    <audio controls>
        <source src="./data/audio/03044.wav" type="audio/wav">
    </audio>
</div>

<p><img width=424 height=30 src="./data/img/theory/d14.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 5</span>
    <audio controls>
        <source src="./data/audio/03045.wav" type="audio/wav">
    </audio>
</div>

<p><img width=424 height=30 src="./data/img/theory/d15.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 6</span>
    <audio controls>
        <source src="./data/audio/03046.wav" type="audio/wav">
    </audio>
</div>

<p><img width=469 height=41 src="./data/img/theory/d16.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 7</span>
    <audio controls>
        <source src="./data/audio/03047.wav" type="audio/wav">
    </audio>
</div>

<p>Придумайте свои рисунки и поработайте над ними тоже.</p>
<p>Поначалу все это может показаться несколько сложным, но впоследствии вы сможете свободно считывать ритмику прямо «с листа». Имейте в виду, что иногда партия гитары записывается в виде ритмического рисунка, с указанием аккордов (партия ритм-гитары в оркестре или ансамбле), поэтому для будущего гитариста-профессионала это вдвойне полезно.</p>
