




<h3>Звук как физическое явление; звукоряд; октава; названия звуков; тон, полутон; клавиатура рояля; знаки альтерации; энгармонизм; названия октав.</h3>

<p>Звук- это физическое явление, вызываемое колебательными движениями частиц воздуха или другой среды. Эти колебания образуют в воздухе звуковые волны, которые улавливаются ухом. В результате возникает определенное ощущение- слышание звука.</p>
<p>В жизни мы слышим разные звуки: шум дождя, ветра, двигателя машины, голоса, пение птиц, звучание музыкальных инструментов и т. д. Все они делятся на шумовые и музыкальные. Музыкальный звук, в отличии от шумового, имеет определенные свойства: высоту, длительность, тембр, громкость.</p>
<p>Высота звука зависит от частоты колебаний, другими словами от количества колебаний в секунду. Чем их больше, тем звук тоньше, прозрачнее, легче, другими словами- выше. Чем колебаний меньше, тем звук тяжелее, массивнее- ниже. Количество колебаний, в свою очередь, зависит от упругости звучащего тела, например от силы натяжения струны (чем сильнее струна натянута, тем звук выше), а так же от его длины и толщины (чем длиннее и толще струна, тем звук ниже).</p>
<p>Длительность звука зависит от продолжительности колебаний звучащего тела. Тембр (окраска звука)- от количества призвуков (обертонов), сопровождающих каждый звук. Громкость- от амплитуды колебаний (чем больше амплитуда- тем громче звук).</p>
<p>Все музыкальные звуки, расположенные в последовательном восходящем или нисходящем порядке образуют звукоряд. Если сравнить между собой все звуки звукоряда, то можно убедиться, что каждому из них, на определенном расстоянии выше или ниже соответствуют звуки с которыми он сливается. Эти сливающиеся звуки имеют одно название. Минимальное расстояние между ними называется октавой.</p>
<p>Октава делится на 12 звуков, имеющих между собой одинаковое расстояние-полутон. Из этих 12 звуков только 7 имеют название, это знакомые всем с детствадо, ре, ми, фа, соль, ля, си,илиC, D, E, F, G, A, B(латинские названия применяются при обозначении аккордов и тональностей). Эти 7 звуков считаются основными ступенями звукоряда. Расстояние между ними неодинаково, между ми и фа, си и до - полутон. Между остальными основными звуками располагаются промежуточные, поэтому расстояние между ними 2 полутона, называемое целый тон или просто -тон.</p>
<p>Эту систему наглядно демонстрируетклавиатура рояля: белые клавиши - основные звуки, черные- вспомогательные.</p>

<p><img width=314 height=63 src="./data/img/theory/b1.gif"></p>

<p>Как видно расположение клавиш одинаково в каждой октаве.</p>
<p>Для повышения или понижения звука используются знаки альтерации:</p>
<p><img width=14 height=24 src="./data/img/theory/b2.gif">(диез)- повышение на полтона.</p>
<p><img width=14 height=24 src="./data/img/theory/b3.gif">(бемоль)- понижение на полтона .</p>
<p><img width=14 height=24 src="./data/img/theory/b4.gif">(бекар)-отмена диеза или бемоля.</p>

<p>Таким образом, один и тот же звук может называться по разному, например звук между до и ре: до диез или ре бемоль. Это явление получило названиеэнгармонизм.</p>

<p><img width=125 height=320 src="./data/img/theory/b5.gif"></p>

<p>А вот полная клавиатура рояля, с названиями октав:</p>

<p><img width=614 height=118 src="./data/img/theory/b6.gif"></p>


