




<h3>Специальные обозначения</h3>

<p>При записи нот для электрогитары применяют символы, не входящие в стандартную нотную запись, они касаются обозначений специфических приемов игры:</p>

<p>hammer-on- медиатором извлекается только первая нота, вторая звучит за счет резкого молоточкообразного (отсюда и название) удара пальца левой руки по соответствующему ладу.</p>

<p><img width=101 height=190 src="./data/img/theory/p1.gif"></p>


<p>pull-off - зеркальное отображение hammer-on - вторая нота звучит за счет сдергивания пальца левой руки к ней, при этом палец, прижимающий вторую ноту уже должен стоять на грифе.</p>

<p><img width=102 height=185 src="./data/img/theory/p2.gif"></p>


<p>vibrato- плавное покачивание струны вокруг извлеченной ноты с помощью пальцев левой руки. Часто сочетается с bend, в этом случае струна сначала подтягивается, а потом качается:</p>

<p><img width=80 height=197 src="./data/img/theory/p3.gif"></p>

<p>bend- подтяжка струны пальцами левой руки, обратите внимание: аналогично обозначениюFull(подтяжка на целый тон), используются следующие обозначения:S- подтяжка на пол тона иI- подтяжка на четверть тона,1S- подтяжка на полтора тона. Если после ноты с бендом стоит лига (как на нижеприведенном примере), то «подтянутая» нота звучит всю длительность лиги.</p>

<p><img width=96 height=209 src="./data/img/theory/p4.gif"></p>

<p>bend + vibrato.</p>
<p><img width=102 height=208 src="./data/img/theory/p5.gif"></p>

<p>pre bend- нота сначала подтягивается, а уже потом извлекается.</p>

<p><img width=103 height=202 src="./data/img/theory/p6.gif"></p>

<p>bend release- нота подтягивается, после чего возвращается обратно.</p>
<p><img width=102 height=207 src="./data/img/theory/p7.gif"></p>



