<h3>Свинг</h3>

<p>Некоторые примеры в этой школе имеют свинговую ритмику. О том, что это такое, пойдет речь ниже. Свинговая ритмика (пульсация), называемая также ритм «шаффл», отличается от обычной иным ощущением при игре «восьмых» нот. Мы уже знаем, что «четверть» делится на две ровные «восьмые»:</p>
<p><img width=73 height=51 src="./data/img/theory/l1.gif"></p>
<p>или на три «триоли»:</p>
<p><img width=98 height=44 src="./data/img/theory/l2.gif"></p>
<p>Запишем один такт в размере 4/4 «восьмыми» и споем его:</p>

<p><img width=196 height=46 src="./data/img/theory/l3.gif"></p>

<p>А теперь проделаем то же самое «триолями»:</p>

<p><img width=276 height=54 src="./data/img/theory/l4.gif"></p>

<p>Объединим с помощью лиги первую и вторую ноты триоли, а на третьей сделаем легкий акцент:</p>
<p><img width=252 height=66 src="./data/img/theory/l5.gif"></p>

<p>Это и есть свинговая, иногда ее называют триольной, пульсация. Пропойте этот такт и сравните его с тактом из ровных «восьмых». Свинговые «восьмые» записывают в виде обычных «восьмых» нот, в начале произведения делая пометку:</p>

<p><img width=90 height=48 src="./data/img/theory/l6.gif"></p>

<p>указывающую на триольную пульсацию:</p>

<p><img width=234 height=86 src="./data/img/theory/l7.gif"></p>
<p>Для сравнения послушайте один и тот же рифф сыгранный в обычной, и в свинговой ритмике:</p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 1</span>
    <audio controls>
        <source src="./data/audio/03091.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">Аудио 2</span>
    <audio controls>
        <source src="./data/audio/03092.wav" type="audio/wav">
    </audio>
</div>