




<h3>Табулатура</h3>

<p>Табулатура представляет собой шесть линеек обозначающих струны гитары, на которых цифрами записываются номера ладов, зажимаемых при исполнении музыки:</p>

<p><img width=251 height=62 src="./data/img/theory/n1.gif"></p>

<p>Нулем обозначается звучание открытой струны.</p>

<p>Обычно, табулатура записывается под или над нотным станом, таким образом, чтобы номера ладов точно соответствовали извлекаемым нотам:</p>

<p><img width=235 height=195 src="./data/img/theory/n2.gif"></p>

<p>Такая запись существенно облегчает освоение гитары на первых порах, но имейте в виду: табулатура это вспомогательная система, ноты на грифе все равно учить придется, если не хотите остановиться в развитии.</p>


