




<h3>Темп. Характер произведения.</h3>

<p>Темп музыкального произведения определяют по метроному - специальному механическому или электронному устройству, которое отсчитывает доли метра («четверти»), как часы:</p>

<p><img width=157 height=186 src="./data/img/theory/g1.gif"><img width=99 height=186 src="./data/img/theory/g2.gif"></p>

<p>Метроном часто бывает встроен в синтезаторы, гитарные секвенсоры, компьютерные музыкальные программы.</p>
<p>Темп указывается в начале произведения, например:</p>
<p><img width=61 height=28 src="./data/img/theory/g3.gif"></p>

<p>Эта запись означает, что темп равен 120 ударам-четвертям в одну минуту.</p>
<p>Иногда темп указывается не точно, например:</p>

<p>Slow- медленно</p>
<p>Moderate- умеренно</p>
<p>Fast- быстро</p>

<p>Бывает, наряду с темпом указывают стиль или характер произведения, например:</p>
<p>Moderate Rock- рок в среднем темпе</p>
<p>Lazy Blues- «ленивый» блюз</p>


