<h3>Предисловие</h3>

<p>У этой школы три задачи:</p>
<p>1. Познакомить вас с техникой игры на электрогитаре.</p>
<p>2. Изучить большое количество риффов и соло в роковом стиле.</p>
<p>3. Использовать полученные знания при сочинении собственных композиций.</p>

<p>Вам понадобится электрогитара и усилитель, рекомендации по их приобретению вы найдете в соответствующих разделах. Если у вас пока нет возможности их приобрести, на первых порах подойдет и акустическая гитара с металлическими струнами.</p>
<p>Старайтесь приучить себя заниматься гитарой ежедневно, сначала по 30-40 минут с перерывом, потом время занятий можно увеличить. Лучше заниматься каждый день по 30 минут, чем один раз в неделю 3,5 часа.</p>
<p>Избегайте перенапряжения рук и всего тела особенно в первые месяцы занятий, если вы чувствуете напряжение или боль, прервитесь. Поначалу у вас могут болеть подушечки пальцев левой руки, но при систематических занятиях боль пройдет.</p>
<p>Для лучшего освоения материала и творческого развития старайтесь побольше слушать разной музыки. Слушайте известных гитаристов, отмечайте, что вам нравится в их игре - фразировка, техника, звук. Постарайтесь достать их видеозаписи и внимательно наблюдайте за их руками, возможно, таким образом вы найдете ответы на многие вопросы.</p>
<p>Не ограничиваясь гитаристами вы можете черпать идеи у кого угодно: клавишников, саксофонистов, барабанщиков и в первую очередь вокалистов. Старайтесь петь то, что вы играете, только в этом случае вы сможете пропустить музыку через себя.</p>
<p>Если вы делаете первые шаги в музыке, изучите теоретический раздел для более полного восприятия информации.</p>
<p>Самое главное - не забывайте, игра на гитаре это в первую очередь удовольствие, старайтесь доставить радость своей игрой себе и своим друзьям и не слишком умничайте - это же рок-н-ролл!</p>
<p>Автор выражает глубокую признательность людям без которых эта школа никогда бы не появилась, а именно своим педагогам: Бранду В.К., Скворцову А.П., Богушису А.Г., Семочкину А.В. и Попову С.Б.</p>
<div class="video-file">
    <video width="720" height="576" controls>
        <source src="./data/video/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>