.panel-body h3 {
    margin-top: 0;
}
.audio-file-label {
    padding: 10px;
    vertical-align: 30%;
}
.video-file {
    text-align: center;
}
img {
    margin-right: 20px;
}
.bottom-nav__item {
    padding: 15px;
}
