<% if (prev) { %>
<div class="bottom-nav__item pull-left">
    <a href="#/">Назад</a>
</div>
<% } %>
<% if (next) { %>
<div class="bottom-nav__item pull-right">
    <a href="#/<%= next %>">Далее</a>
</div>
<% } %>
