<div class="menu_accordion">
    <% _.each(menu, function(section){ %>
    <h4><%= section.tr %></h4>
    <div>
        <ul class="nav nav-pills nav-stacked">
            <% _.each(section.items, function(article){ %>
            <li role="presentation">
                <a href="#/<%= [section.link, article.link].join('/') %>"><%= article.tr %></a>
            </li>
            <% }); %>
        </ul>
    </div>
    <% }); %>
</div>