




<h3>2-х октавная гамма До мажор и секвенции в ней.</h3>

<p>Пришла пора вас поздравить: мы начинаем разучивать гаммы! Для тех, кто забыл, что это такое, советую обратиться к разделу лады, теоретической части школы. Игра гамм, одно из основных средств в развитии техники игры на любом инструменте, и гитара не является исключением.</p>
<p>В этом уроке используется одна 2-х октавная гамма - До мажор в VII позиции. Вот ее аппликатура:</p>

<p>VII VIII IX X</p>
<p><img width=101 height=85 src="./data/img/picking/b1.gif"></p>

<p>Выучив эту аппликатуру, вы сможете сыграть любую мажорную гамму, для этого смените позицию на грифе. Например: в IV позиции это будет гамма Ля мажор, в XI - Ми мажор и т. д.</p>
<p>Упражнения играются 16-ми нотами (по 4 ноты на долю), но это не значит, что играть надо быстрее - вы можете замедлить темп. Выделяйте начало каждой доли.</p>
<p>При игре 16-ми применяется такой штрих:</p>

<p><img width=124 height=42 src="./data/img/picking/b2.gif"></p>

<p>Если вам пока трудно играть 16-ми, играйте сначала упражнения 8-ми, как в разделе«Игра по одной струне».</p>

<p>Упр. 1- Подготовительное упражнение. В этом упражнении каждая нота играется четыре раза.</p>
<p><img width=606 height=455 src="./data/img/picking/b3.gif"></p>

<p>Видео 1</p>



<p>Упр. 2- Гамма До мажор в VII позиции. Обратите внимание на переход со струны на струну: между нотами на разных струнах не должно быть «затыков», звучание должно быть гладким и плавным. Для этого старайтесь ставить пальцы левой руки перпендикулярно струнам и сведите к минимуму время между снятием звучания на одной струне и извлечением ноты на другой, лучше, если вы будете делать это одновременно.</p>
<p>Поработайте над переходами со струны на струну отдельно, в упражнении эти места специально выделены. Не торопитесь, плавный переход со струны на струну не дается быстро.</p>

<p><img width=547 height=190 src="./data/img/picking/b4.gif"></p>
<p>Видео 2</p>

<p>Упр. 3- Секвенция по гамме До мажор. Используется уже известная вам аппликатура. Секвенция - это повторение, какого либо мотива от разных ступеней лада. Этот мотив называется звеном секвенции. В этом упражнении звено секвенции - четыре ноты гаммы в восходящем или нисходящем порядке (в нотах звено секвенции отмечено), акцентируйте первые из них, они совпадают с началом долей.</p>
<p>Не бойтесь большого количества нот, зная основную аппликатуру гаммы и поняв принцип, по которому строится секвенция, вы легко выучите это упражнение.</p>
<p>Обратите внимание на пальцы левой руки при игре на 3, 2 и 1 струнах: мизинец не используется!</p>
<p><img width=634 height=759 src="./data/img/picking/b5.gif"></p>
<p>Видео 3</p>

<p>Упр. 4- Гамма До мажор мелодическими терциями. Это более сложное упражнение. Обратите внимание на правую руку при переходе со струны на струну - сохраняется переменный штрих:</p>
<p><img width=630 height=480 src="./data/img/picking/b6.gif">Видео 4</p>


<p>Освоив эти упражнения, придумайте свои секвенции. Не замыкайтесь в рамках одной тональности - перенесите упражнения в другие, сменив позицию на грифе и оставив ту же аппликатуру.</p>
<p>Используя принцип этих упражнений поработайте над минорной 2-х октавной гаммой. Вот как она выглядит в тональности Ля минор в V позиции:</p>
<p><img width=281 height=195 src="./data/img/picking/b7.gif"></p>

<p>Видео 5</p>



