




<h3>Гамма До мажор по всему грифу по 3 ноты на струне. Натуральные лады.</h3>

<p>Это одно из самых известных упражнений для гитары. Поскольку с ним придется повозиться, оно вынесено в отдельный урок. Благодаря ему, вы не только повысите беглость пальцев, но и быстрее выучите ноты на грифе. Перед чем играть, вспомните Упр. 5 (если вы не работаете над ним каждый день, как это надо делать). Итак:</p>

<p>Упр. 1- Гамма До мажор (или Ля минор) по всему грифу по три ноты на струне.</p>
<p>Принцип, по которому построено упражнение, очень простой: вы играете в восходящем движении ноты До мажорной гаммы (до, ре, ми, фа, соль, ля, си) начиная с фа на 6 струне по 3 звука на каждой струне; дойдя до 1 струны, меняете позицию мизинцем и двигаетесь в вниз по другой аппликатуре; дойдя до шестой струны, меняете позицию указательным пальцем и снова движетесь вверх и т. д. Таким образом, получается 7 разных аппликатур, по числу нот в гамме.</p>
<p>Не стоит пытаться выучить упражнение целиком, сначала последовательно выучите и проиграйте вниз и вверх каждую из 7 аппликатур (например, по одной в день), а уже потом соедините их, используя указанный принцип. Итак, вот эти аппликатуры, для удобства назовем их по нотам на 6 струне, от которых они играются:</p>

<p><img width=179 height=91 src="./data/img/picking/c1.gif"><img width=176 height=91 src="./data/img/picking/c2.gif"><img width=176 height=92 src="./data/img/picking/c3.gif"></p>
<p>1 2 3 4 5 6 7 3 4 5 6 7 8 5 6 7 8 9 10</p>

<p><img width=177 height=91 src="./data/img/picking/c4.gif"><img width=176 height=92 src="./data/img/picking/c5.gif"><img width=176 height=92 src="./data/img/picking/c6.gif"></p>
<p>7 8 9 10 11 12 8 9 10 11 12 13 10 11 12 13 14 15</p>

<p><img width=176 height=92 src="./data/img/picking/c7.gif"></p>
<p>12 13 14 15 16 17</p>

<p>А вот и само упражнение:</p>
<p><img width=634 height=866 src="./data/img/picking/c8.gif"></p>

<p>Видео 1</p>

<p>Доиграв до конца, вернитесь в начало грифа, проиграв все аппликатуры в обратной последовательности. Применяйте тот же принцип что, и при движении вверх по грифу: на первой струне меняйте позицию, сдвигая мизинец, на шестой - указательный палец. Таким образом, начав с ноты фа на шестой струне, вы снова к ней возвращаетесь и можете «закольцевать» это упражнение.</p>
<p>Конечно, на освоение этого «жуткого» количества нот уйдет много времени, но в дальнейшем вы будете играть это упражнение как разминочное.</p>
<p>Кстати, хорошая новость- выучив все используемые аппликатуры, вы выучили 7 натуральных ладов, которые получаются если До мажорную гамму играть от разных нот:</p>

<p>Аппликатура F - F лидийский лад</p>
<p>Аппликатура G - G миксолидийский лад</p>
<p>Аппликатура A - A минор</p>
<p>Аппликатура В - В локрийский лад</p>
<p>Аппликатура С - С мажор</p>
<p>Аппликатура D - D дорийский лад</p>
<p>Аппликатура Е - Е фригийский лад</p>









