




<h3>Хроматизмы.</h3>

<p>А теперь самое время поработать над независимыми действиями пальцев левой руки. Вот несколько упражнений, в которых используются хроматическая гамма и ее фрагменты (хроматизмы), соблюдайте правило «один палец - один лад».</p>

<p>Упр. 1 -Хроматизмы по одной струне в позиции. Задействованы все пальцы левой руки. Не забывайте про помощь кисти, повторите упражнение по всем струнам и во всех возможных позициях, сыграйте с акцентами, и секстолями вместо триолей.</p>

<p><img width=295 height=201 src="./data/img/picking/d1.gif"></p>
<p>Видео 1</p>


<p>Упр. 2 -Хроматизмы по одной струне со сдвигом и возвратом позиции. Играя это упражнение, большой палец может скользить по задней части грифа при сдвиге позиции. Обратите внимание - сдвиг позиции происходит мизинцем, возврат - указательным пальцем. Работайте над упражнением так же, как и над предыдущим.</p>

<p><img width=221 height=190 src="./data/img/picking/d2.gif"></p>
<p>Видео 2</p>

<p>Упр. 3 -Хроматическая гамма по одной струне в пределах октавы. В этом упражнении используется смена позиции. Меняйте позицию за счет кругового движения кисти, не двигайте руку механически вдоль грифа. Обратите на выделенные места особое внимание и отработайте их отдельно в прямом и обратном направлениях. В идеале смена позиции не должна быть слышна, как будто у вас 12 пальцев.</p>
<p>Продублируйте это упражнение на других струнах.</p>


<p><img width=413 height=191 src="./data/img/picking/d3.gif"></p>
<p>Видео 3</p>

<p>Упр. 4- Фрагменты хроматической гаммы по всем струнам, по 4 ноты на струне. Фундаментальное упражнение для совершенствования техники переменного звукоизвлечения. Многие музыканты с большим опытом игры занимаются им постоянно для отработки синхронного взаимодействия рук и развития беглости пальцев. Оно так же превосходно как разминочное.</p>
<p>Обратите внимание на переход со струны на струну. Старайтесь, чтобы ноты на разных струнах звучали слитно, как будто они находятся на одной. Для этого ставьте пальцы левой руки по возможности наиболее перпендикулярно струнам и сведите к минимуму время между снятием ноты на одной струне и извлечением на другой, лучше, если вы будете делать это одновременно.</p>
<p>Поработайте над переходами со струны на струну отдельно в обоих направлениях, соблюдая штрих медиатора, в упражнении эти места специально выделены. Не торопитесь, плавный переход со струны на струну не дается быстро.</p>
<p><img width=627 height=492 src="./data/img/picking/d4.gif">Видео 4</p>

<p>Упр. 5 -Вариация предыдущего для всего грифа. Это упражнение со сдвигом позиции, оно подводит итог упражнениям на хроматизмы. Меняйте позицию по тому же принципу, что и вУпр.1раздела«Гамма До мажор по всему грифу»Таким образом пройдите весь гриф от I позиции до XII и назад.</p>

<p>Видео 5</p>









