




<h3>Игра по одной струне.</h3>

<p>Переменное звукоизвлечение ( чередование ударов медиатора вниз и вверх - ПV) позволяет играть на гитаре виртуозные пассажи, эффектные фразы, разнообразные риффы и аккомпанирующие партии. Этот прием входит в арсенал всех гитаристов, кто-то использует его чаще (Yngwie Malmsteen, Al Di Meola), кто-то реже, основывая свою скоростную игру на приемах hammer on и pull off (Joe Satriani, Stive Vai, Reb Beach), но так или иначе его используют все.</p>
<p>При переменном звукоизвлечении основное движение совершает запястье (см. постановка правой руки), в виртуозных пассажах добавляется микроконтроль медиатора первыми фалангами большого и указательного пальцев.</p>
<p>Главное правило для игры 8-ми нотами переменным штрихом: ноты приходящиеся в доли играются ударом вниз - П, ноты между долей играются ударом вверх- V:</p>

<p><img width=160 height=58 src="./data/img/picking/a1.gif"> правильно</p>

<p><img width=159 height=58 src="./data/img/picking/a2.gif">неправильно</p>

<p>Все упражнения начинаются с первой доли, другими словами с удара вниз, не забывайте об этом.</p>
<p>Начинайте работу над упражнениями в этом разделе в медленном темпе, в дальнейшем темп можно увеличить. Попробуйте вместо 8-х сыграть 16-ми (по 4 ноты на долю), то есть в два раза быстрее. Включайте эти упражнения в ваши каждодневные занятия. Не забывайте про работу с метрономом и игру «под ногу».</p>
<p>Кому-то эти упражнения покажутся чересчур долгими, сложными и утомительными. Запаситесь терпением, игра на гитаре, не только огромное удовольствие, но и большой труд, многие ваши кумиры работают над этими упражнениями до сих пор.</p>
<p>Используйте классическую постановку левой руки, при которой большой палец упирается в заднюю часть грифа (см. постановка левой руки). Чтобы избежать дребезга, прижимайте струны не между ладами, а рядом с указанным ладом. Определите сами силу нажатия на струну для получения красивого звука, старайтесь не пережимать струны.</p>
<p>Играйте эти упражнения на «чистом» звуке и с дисторшн, для более певучего и слитного звучания используйте передний (нэковый) звукосниматель. Играя с дисторшн, применяйте глушение правой рукой (palm muting) на 6,5 и 4 струнах- с ним звук будет более четкий.</p>
<p>Все упражнения в этом уроке выписаны для 1 струны, проиграйте их на остальных струнах.</p>

<p>Упр. 1- Игра по открытым струнам. Это самое простое и вместе с тем самое важное упражнение на первом этапе. Начинайте с него свои ежедневные занятия. Следите за тем, чтобы правая рука работала в одной плоскости, параллельной струнам, сначала совершайте широкие движения, потом постепенно сокращайте их амплитуду. Не напрягайте кисть и всю руку. Поначалу удар медиатора вверх будет отличаться от удара вниз по громкости и тембру, старайтесь сделать это отличие минимальным.</p>

<p><img width=210 height=190 src="./data/img/picking/a3.gif"></p>
<p>Видео 1</p>

<p>Упр. 2- Подключаем левую руку. Старайтесь не прерывать работы медиатора сочетая ноты на открытой струне с прижатыми. Ставьте пальцы по возможности более перпендикулярно струнам. Положение большого пальца неизменно.</p>

<p><img width=392 height=192 src="./data/img/picking/a4.gif"></p>
<p>Видео 2</p>

<p>Упр. 3- Чередование нот на грифе с открытыми. Играйте ритмично, не торопитесь.</p>

<p><img width=393 height=204 src="./data/img/picking/a5.gif"></p>
<p>Видео 3</p>

<p>Упр. 4- Фрагменты гамм с использованием открытой струны. Удерживайте на струне 1 палец (а) и 2 (b) при нажатии 3, как указано пунктиром в нотах:</p>


<p><img width=395 height=204 src="./data/img/picking/a6.gif"></p>
<p>Видео 4</p>

<p>Упр. 5- Фрагменты гамм по три ноты на струне. Эти три аппликатуры применяются при игре гамм. Отрабатывайте их каждый день. Как правило, в гаммаобразных пассажах применяется правило один палец - один лад. Это означает что если, к примеру, вы находитесь в III позиции, то за III лад «отвечает» первый палец, за IV- второй, за V- третий, за VI-четвертый (см. постановка левой руки). Однако это правило часто нарушается, в частности вместо комбинации 1-3-4-3 в упражнении 5 b многие гитаристы используют связку 1- 2 -3 -2, попробуйте и вы этот вариант.</p>

<p>Играя упражнения 5a и 5b не снимайте со струны 1 палец, в упражнении 5с он может слегка скользить по струне к мизинцу. Во всех трех вариантах упражнения 2 или 3 пальцы не снимаются со струны во время работы мизинца. В этом уроке мизинец используется впервые, ставьте его по возможности более перпендикулярно, чтобы он не шлепал по струне, а как бы «клевал» ее.</p>
<p>Обратите внимание на кисть левой руки: она не застыла в одном положении, а как бы идет за пальцами, вращаясь вокруг большого. Положение большого пальца неизменно (см. постановка левой руки). Этим движением часто пренебрегают начинающие гитаристы, между тем оно помогает раскрепостить левую руку и является одним из основных при игре. Особенно это важно при большой растяжке как в упражнении 5с. Не тянитесь мизинцем, используйте кисть.</p>
<p>Когда вы освоите эти аппликатуры, попробуйте сделать акценты на 1 и 3 доли, сыграйте упражнения 16-ми (в этом случае делайте акценты на каждую долю). Постарайтесь отработать эти аппликатуры по всем струнам и во всех позициях.</p>
<p><img width=603 height=204 src="./data/img/picking/a7.gif"></p>
<p>Видео 5</p>









<video width="320" height="240" controls>
    <source src="./data/img/picking/05011.mp4" type="video/mp4">
    <source src="./data/img/picking/05011.avi" type="video/avi">
</video>


