





<h3>Рок-клише.</h3>

<p>Хотите мгновенно получить узнаваемое веселое рок-н-ролльное звучание? Эти фразы вы наверняка уже слышали в соло различных исполнителей. Из-за частого использования они получили название рок-клише.</p>
<p>Все они играются в I боксе минорной пентатоники и состоят из коротких повторяющихся мотивов-«вертушек». Для удобства мы разберем их в уже известной вам тональности А. После того, как вы выучите эти фразы, перенесите их в другие часто встречающиеся в роке тональности: E, G, D и т.д.</p>
<p>В некоторых клише встречается интересный эффект смещения из-за наложения 3-х нотного мотива на 4-х дольный метр:</p>

<p><img width=278 height=51 src="./data/img/solo/c1.gif"></p>

<p>Поскольку эти фразы играются с дисторшн, соблюдайте указания к ним для избежания «грязи», следите за работой медиатора.</p>

<p>Итак, давайте познакомимся с ними более подробно:</p>

<p>Клише 1 -одно из наиболее часто встречающихся клише, можно без преувеличения сказать, что его применяют все рок - гитаристы:</p>

<p><img width=320 height=221 src="./data/img/solo/c2.gif"></p>
<p>Видео 1</p>

<p>Для того, чтобы правильно его сыграть возьмите баррэ 1 пальцем на V ладу и не снимайте его до бенда по 2 струне. Бенды по 3 струне делают 3 и 2 пальцы.</p>
<p>Обратите внимание на приглушение бенда: оно выполняется за счет снятия пальцев с 3 струны, к тому же, при ударе медиатором по 1 и 2 струнам, первая фаланга большого пальца правой руки касается 3 струны и снимает послезвучие. 1 и 2 струны глушить не надо.</p>
<p>Используется удар медиатора вниз.</p>

<p>Клише 2 -производное от предыдущего:</p>

<p><img width=319 height=222 src="./data/img/solo/c3.gif"></p>
<p>Видео 2</p>

<p>Те же рекомендации.</p>

<p>Клише 3-популярная «вертушка»:</p>

<p><img width=243 height=216 src="./data/img/solo/c4.gif"></p>
<p>Видео 3</p>

<p>Используется 3-х пальцевый метод. 1 палец не снимается со струны и не ослабляет своего давления. Старайтесь ставить его так, чтобы он касался 1 и 3 струн, не давая им звучать. 2 палец, зажимая 3 струну одновременно мякотью глушит 2.</p>
<p>Как и в первом клише, большой палец правой руки снимает послезвучие с 3 струны, извлекая звук по 1. Безымянный палец правой руки касается 1 струны, не давая ей звучать.</p>
<p>Соблюдайте указанный штрих медиатора.</p>

<p>Клише 4 -так же часто встречающаяся фраза:</p>

<p><img width=320 height=220 src="./data/img/solo/c5.gif"></p>
<p>Видео 4</p>

<p>3 палец не снимается со струны, тянуть бенд ему помогают 2 и 1. Чтобы не был слышен возврат подтяжки, 3 струна глушится первой фалангой большого пальца правой руки в момент извлечения ноты на 2 струне. Поскольку 1 струна не задействована, ее можно заглушить безымянным пальцем правой руки.</p>

<p>Клише 5 -в этой фразе активно используются дабл-стопы (интервалы, в данном случае мажорные терции):</p>

<p><img width=189 height=219 src="./data/img/solo/c6.gif"></p>
<p>Видео 5</p>

<p>Обратите внимание - дабл-стопы берутся баррэ, а не разными пальцами, при игре на 4 струне баррэ снимается.</p>
<p>Такая подтяжка часто встречается в I боксе и в других пассажах.</p>

<p>Клише 6 -повторяющийся мотив 16-ми:</p>

<p><img width=264 height=219 src="./data/img/solo/c7.gif"></p>
<p>Видео 6</p>

<p>А здесь баррэ не используется, так как только сковывает руку. Для более уверенного исполнения отработайте связку из нот 16-й триоли отдельно.</p>

<p>После того как вы освоили эти фразы и перенесли их в разные тональности, попробуйте изменить ритмику: сыграйте вместе 8-й и 16-й триолями, это значительно разнообразит вашу игру.</p>
<p>Такие и похожие идеи вы можете встретить в следующих соло:</p>

<p>Ozzy - Mr. Tinkertrain</p>
<p>Nazareth - Right Between The Eyes</p>
<p>Motley Crue - Anarchy In U.K</p>
<p>- Poison Apples</p>


