




<h3>Развитие техники hammer on - pull off.</h3>

<p>Поскольку при игре hammer on и pull off правая рука максимально разгружена, пальцам левой руки требуется дополнительная сила и цепкость для уверенного звукоизвлечения. К тому же при игре виртуозных пассажей необходима их достаточная беглость. На развитие этих качеств и направлены приведенные ниже упражнения.</p>
<p>Работая над ними, старайтесь прикладывать ровно столько усилий, сколько необходимо для получения четкого разборчивого звука: не пережимайте струны, но и не играйте вяло: при игре hammer on палец опускается на струну за счет собственного веса, а не за счет мышечных усилий, надо почувствовать его тяжесть и одновременно расслабленность. Играя pull off, палец не просто поднимается со струны, а активно сдергивается, подцепляя струну подушечкой.</p>
<p>Старайтесь избежать напряжения мышц предплечья, сначала играйте упражнения медленно, постепенно наращивая темп. Контролируйте место на грифе, в котором пальцы бьют по струне - оно должно быть рядом с ладом. Следите за тем, чтобы неподвижный 1 палец не «съезжал» к остальным.</p>
<p>Все эти упражнения играются по одной струне в фиксированной позиции, перенесите их в другие позиции и сыграйте на остальных струнах, когда освоитесь. Поскольку упражнения достаточно простые, они не выписаны в нотах:</p>

<p>Упр.1 Видео 1</p>

<p>Упр.2 Видео 2</p>

<p>Также для развития этой техники попробуйте сыграть еще несколько упражнений из раздела «Переменное звукоизвлечение», используя hammer on и pull off.</p>


