




<h3>Приемы игры.</h3>

<p>Помимо переменного звукоизвлечения существует множество других приемов игры, таких как hammer on, pull off, bend, vibrato, slide и т. д. На сочетании этих приемов с минорной пентатоникой базируется традиционная блюзовая и роковая техника игры на электрогитаре с дисторшн, сформировавшаяся в конце 60-х - начале 70-х годов.</p>
<p>Послушайте родоначальников - Jimi Hendrix, Jimmy Page (Led Zeppelin), Ritchi Blackmore (Deep Purple), эти гитаристы были первыми. В настоящее время яркие представители этого стиля: Zakk Wylde (Ozzy Osbourne), Reb Beach (Winger, Whitesnake) и многие другие. Обратите внимание так же на блюзовых гитаристов: B.B King, Eric Clapton, Stive Ray Voughan.</p>
<p>Отработкой этих приемов мы займемся позже, а сейчас давайте просто познакомимся с ними:</p>

<p>Hammer on (Хамер)- Извлеките первую ноту медиатором, а вторую возьмите с помощью молоточкообразного удара пальца левой руки:</p>

<p><img width=95 height=180 src="./data/img/solo/a1.gif"></p>
<p>Видео 1</p>

<p>Pull off (Пул) -Зеркальная противоположность хамеру. Расположите оба пальца на струне, возьмите первую ноту медиатором и энергично сдерните палец, чтобы прозвучала вторая нота:</p>

<p><img width=95 height=180 src="./data/img/solo/a2.gif"></p>
<p>Видео 2</p>

<p>Сочетание хамера и пула образует трель:</p>

<p><img width=227 height=180 src="./data/img/solo/a3.gif"></p>
<p>Видео 3</p>

<p>Используя эти приемы можно играть виртуозные пассажи, максимально разгрузив правую руку, при этом действия пальцев левой руки должны быть более цепкими и энергичными, чем при переменном звукоизвлечении.</p>

<p>Slide (Слайд, глиссандо) -Скольжение пальцем левой руки от одной ноты к другой. Бывает коротким, в пределах 2-3 ладов и длинным (глиссандо)- через весь гриф. Обратите внимание - медиатором берется только первая нота:</p>

<p><img width=95 height=178 src="./data/img/solo/a4.gif"><img width=96 height=178 src="./data/img/solo/a5.gif"></p>
<p>Видео 4</p>


<p>Bend (Бенд, подтяжка) -Это один из самых популярных приемов. Для его выполнения используется блюзовая постановка левой руки (см.постановка левой руки) с большим пальцем сверху грифа. Расположите 3 палец на струне, 1 и 2 поставьте на эту же струну рядом, они будут помогать; теперь подтяните струну вверх до указанной ноты, используя круговое движение запястьем:</p>

<p><img width=80 height=182 src="./data/img/solo/a6.gif"><img width=95 height=183 src="./data/img/solo/a7.gif"></p>
<p>Видео 5</p>

<p>Поначалу будет непросто попасть точно в ноту. Для отработки этого приема замените бенд слайдом и послушайте (а еще лучше спойте) ноту, до которой надо тянуть. После этого постарайтесь максимально точно исполнить бенд. Постепенно ваши пальцы «запомнят» до какой высоты надо подтягивать струну. Помните: фальшивые подтяжки - это то, что отличает игру новичка от игры мастера.</p>

<p>Более редко встречается подтяжка 1 пальцем:</p>

<p><img width=80 height=177 src="./data/img/solo/a8.gif"></p>
<p>Видео 6</p>

<p>Одной из разновидностей бенда являетсяPre bend (пре-бенд): струна сначала подтягивается, а потом извлекается звук:</p>

<p><img width=79 height=182 src="./data/img/solo/a9.gif"></p>
<p>Видео 7</p>

<p>Release (Релиз, возврат) -полная противоположность бенду. Возврат струны «на место»:</p>
<p>Довольно часто этот прием комбинируют с пре-бендом:</p>

<p><img width=96 height=183 src="./data/img/solo/a10.gif"></p>
<p>Видео 8</p>

<p>Vibrato (Вибрато) -Вибрато представляет собой сочетание микро - бендов и возвратов. Этот прием предает певучесть длинным нотам и увеличивает сустэйн</p>
<p>В основном вибрато исполняется 3 пальцем, 1 и 2 помогают. Как и при подтяжках используется блюзовая постановка левой руки. Длинные «бендовые» ноты так же играются с вибрато:</p>


<p><img width=84 height=186 src="./data/img/solo/a11.gif"><img width=85 height=185 src="./data/img/solo/a12.gif"></p>
<p>Видео 9</p>



<p>Вибрато - один из самых сложных приемов, на его отработку обычно уходит много времени, но это именно тот прием, который может заставить вашу гитару петь. Один из способов улучшить ваше вибрато, отрабатывать его под метроном в умеренном темпе.</p>

<p><img width=228 height=184 src="./data/img/solo/a13.gif"></p>
<p>Видео 10</p>

<p>Если это не вызывает у вас затруднений, попробуйте увеличить темп или вибрировать триолями и шестнадцатыми.</p>
<p>Старайтесь, чтобы пальцы левой руки возвращались в исходное положение и не «зависали» в бенде.</p>

<p>Rake (Скребок) -Этот прием применяется в сочетании с вибрато или бендом. Для его выполнения надо приглушить нижние струны 1 пальцем так, чтобы звучала только одна требуемая нота, и энергично провести медиатором по струнам:</p>

<p><img width=85 height=190 src="./data/img/solo/a14.gif"></p>
<p>Видео 11</p>


<p>Палец надо класть таким образом, чтобы он именно приглушал, а не зажимал струны. В противном случае вы услышите нечто ужасное!</p>


