




<h3>Мажорная пентатоника.</h3>

<p>Мажорная пентатоника обогатит вашу игру новыми красками. С помощью ее можно получить оптимистичное кантри-подобное звучание. Она применяется для обыгрывания мажорных и блюзовых тональностей. В отличие от минора, где одной минорной пентатоникой обыгрываются все аккорды тональности, в мажоре на каждый аккорд можно играть соответствующую ему мажорную пентатонику. Например, гармонию A-G-D-D можно обыгрывать соответственно по A,G, и D мажорным пентатоникам.</p>
<p>Для того чтобы найти ноты в нее входящие, достаточно просто сместить хорошо известную вам аппликатуру минорной пентатоники на 1,5 тона (3 лада) вниз. Обратите внимание - расположение тоники изменилось!</p>

<p><img width=101 height=85 src="./data/img/solo/e1.gif"></p>

<p>В мажорной пентатонике чаще всего используются всего два бокса:</p>

<p><img width=185 height=97 src="./data/img/solo/e2.gif"></p>

<p>А вот какие ноты в них подтягиваются:</p>

<p><img width=204 height=80 src="./data/img/solo/e3.gif"></p>

<p>Прекрасные образцы использования этого лада можно найти в этих соло:</p>

<p>Guns'N'Roses - Knockin' On Heavens Door</p>
<p>Bon Jovi - In These Arms</p>


