





<h3>Минорная пентатоника в 5-ти боксах. Упражнения на развитие традиционной роковой техники.</h3>

<p>Играя соло в пентатонике, гитаристы редко находятся в рамках одного (первого) бокса. Как правило, используются минимум 2 и больше, причем в остальных боксах чаще всего задействуются первые 3 струны. Всего существует 5 боксов пентатоники, вот как они выглядят в тональности Аm:</p>

<p><img width=401 height=95 src="./data/img/solo/d1.gif"></p>

<p>Для того, чтобы выучить боксы пентатоники и для отработки описанных в предыдущем уроке приемов, существует несколько упражнений, разработанных известным преподавателем Сергеем Поповым. Вкратце их можно охарактеризовать так: «сделай много малыми средствами»!</p>
<p>Эти упражнения направлены на развитие силы и координации пальцев левой руки, при исполнении хамеров, пулов, бендов, вибрато и рейков в традиционном роковом стиле. В упражнении задействованы 1, 2 и 3 пальцы (при игре пентатоники этого вполне достаточно)</p>
<p>Старайтесь не напрягать пальцы, представьте, что они, как пинг-понговые мячики, прыгают по столу (накладке грифа). Постарайтесь так же избежать напряжения в мышцах предплечья.</p>
<p>Несмотря на то, что правая рука максимально разгружена, соблюдайте указанный штрих медиатора, это важно для выработки правильных игровых ощущений.</p>
<p>Эти упражнения играются на «перегруженном» звуке, поэтому особое внимание обратите на снятие всевозможных призвуков. Старайтесь ставить пальцы левой руки так, чтобы они касались соседних струн, не давая им звучать. Призвуки от открытых струн при сдергивании снимайте боковой частью первой фаланги большого пальца правой руки одновременно с извлечением следующей ноты медиатором. В упражнениях, где не используется 1 струна, приглушайте ее безымянным пальцем правой руки. 4,5 и 6 струны глушатся ребром ладони правой руки.</p>

<p>Упр.1- Сочетание вибрато и бенда. В этом упражнении вы можете проверить точность ваших бендов - после подтяжки следует вибрато на ноте, к которой делался бенд. Все упражнение играется по 2 струне.</p>

<p><img width=611 height=229 src="./data/img/solo/d2.gif"></p>
<p>Видео 1</p>

<p>Упр. 2 -Трели. Сочетание хамеров и пулов. Как и в предыдущем упражнении, используется 2 струна. Обратите внимание на последовательность нот - слайд к ноте из-за такта 1 пальцем, 6 групп 16-х (их надо просчитать), остановка на 3 пальце, слайд вниз, и весь цикл повторяется в следующем боксе. 8-е ноты в этом упражнении очень важны - они отделяют в смысловом плане одну трель от другой и дают возможность отдохнуть левой руке.</p>
<p><img width=624 height=1556 src="./data/img/solo/d3.gif">Видео 2</p>

<p>Упр. 3 -Широко распространенная «вертушка» на 2 и 3 струнах. Она уже была изучена в теме рок-клише (клише 3). Настала пора сыграть ее по всему грифу. Выполняйте те же указания по снятию нежелательных призвуков, что и в клише 3.</p>
<p><img width=632 height=1575 src="./data/img/solo/d4.gif">Видео 3</p>

<p>Упр. 4- Еще одна «вертушка» на этот раз уже по трем струнам. 1 палец не берет баррэ, так как это сковывает руку.<img width=624 height=1228 src="./data/img/solo/d5.gif"></p>
<p>Видео 4</p>

<p>Упр. 5 - «Вертушка» по 1 и 2 струне. 1 палец не берет баррэ.</p>
<p><img width=618 height=1886 src="./data/img/solo/d6.gif"></p>

<p>Видео 5</p>

<p>Упр. 6-В этой вертушке используются все ноты каждого бокса. Как и в предыдущих упражнениях 1 палец переставляется со струны на струну.</p>
<p><img width=624 height=1868 src="./data/img/solo/d7.gif">Видео 6</p>




