





<h3>Минорная пентатоника в 1 боксе.</h3>

<p>Минорная пентатоника (см. лады) - самая популярная гамма среди рок - гитаристов, некоторые вообще в своих соло используют только ее. Она обладает ярко выраженным «острым» блюзовым звучанием. Ею обыгрываются аккордовые последовательности в минорных и блюзовых (доминантсептаккорд в качестве тонического) тональностях (то есть одним ладом можно обыграть все аккорды тональности).</p>
<p>Вот основная позиция (бокс) минорной пентатоники в тональности Ля минор, кружками выделены тоники:</p>
<p><img width=101 height=85 src="./data/img/solo/b1.gif"></p>

<p>Обратите внимание, что эта аппликатура строится вокруг аккорда Am:</p>

<p><img width=101 height=85 src="./data/img/solo/b2.gif"></p>

<p>Упр. 1-Минорная пентатоника (далее просто пентатоника) в 1 боксе. Сыграйте все ноты пентатоники в восходящем и нисходящем порядке. Обратите внимание на пальцы левой руки: большинство гитаристов используют более сильный безымянный палец вместо мизинца на 1 и 2 струнах:</p>

<p><img width=483 height=194 src="./data/img/solo/b3.gif"></p>

<p>Сыгранная переменным штрихом «насквозь», пентатоника имеет довольно безликий вид, вдохнуть в нее жизнь помогают некоторые характерные приемы, которые мы уже разбирали: hammer on, pull off, bend, vibrato, slide и т. д.</p>

<p>В первом боксе чаще всего подтягиваются ноты выделенные красным:</p>

<p><img width=151 height=89 src="./data/img/solo/b4.gif"></p>

<p>Иногда применяется подтяжка на полтона 1 пальцем:</p>

<p><img width=101 height=80 src="./data/img/solo/b5.gif"></p>

<p>Для отработки бендов в первом боксе существует отличное упражнение:</p>

<p>Упр. 2 -Унисонные бенды:</p>

<p><img width=76 height=194 src="./data/img/solo/b6.gif"><img width=74 height=186 src="./data/img/solo/b7.gif"></p>
<p>Видео 1</p>


<p>Старайтесь, чтобы звучание обоих струн сливалось в один звук (унисон). Постарайтесь, чтобы 3 палец «запомнил» как высоко надо подтягивать струну.</p>

<p>Дальнейшей отработкой бендов и других приемов мы займемся на следующем уроке, а сейчас попробуйте сыграть несколько коротких фраз, чтобы понять, как они применяются, и прочувствовать звучание пентатоники.</p>

<p><img width=349 height=180 src="./data/img/solo/b8.gif"></p>
<p>Видео 2</p>
<p><img width=272 height=185 src="./data/img/solo/b9.gif"></p>
<p>Видео 3</p>

<p><img width=479 height=187 src="./data/img/solo/b10.gif"></p>
<p>Видео 4</p>

<p><img width=395 height=182 src="./data/img/solo/b11.gif"></p>
<p>Видео 5</p>

<p><img width=414 height=193 src="./data/img/solo/b12.gif"></p>
<p>Видео 6</p>
<p><img width=378 height=181 src="./data/img/solo/b13.gif"></p>
<p>Видео 7</p>

<p>Обратите внимание на положение большого пальца левой руки: в момент подтяжек и вибрато он обхватывает гриф сверху, при хамерах, пулах и переменном штрихе - возвращается в классическую постановку. Освоив эти фразы, попробуйте сыграть их в других тональностях.</p>

<p>А вот несколько риффов в первом боксе пентатоники:</p>

<p>AC/DC - If You Dare</p>
<p>Rage Against The Machine - Bombtrack</p>
<p>- Know Your Enemy</p>

<p>Попробуйте так же сыграть это соло:</p>

<p>Aerosmith - Cryin'</p>
<p>Nazareth - Right Between The Eyes</p>

<p>В некоторых соло используется прием сопоставления I бокса с ним же самим октавой выше:</p>

<p><img width=401 height=95 src="./data/img/solo/b14.gif"></p>

<p>Такой принцип используется в солоP.Gilbert - Girls Watching</p>


