




<h3>Фразировка.</h3>

<p>Музыку часто сравнивают с языком. Общение между людьми происходит при помощи фраз, музыканты, играя друг с другом на джеме, так же обмениваются фразами, правда уже музыкальными, играя соло перед публикой, музыкант общается с ней опять-таки с помощью фраз. Ясная фразировка, грамотные акценты - это то, что отличает опытного музыканта от начинающего.</p>
<p>Для того чтобы овладеть фразировкой в каком-либо стиле, необходим прежде всего слуховой опыт - слушайте как можно больше музыки в стиле, которому вы хотите научиться, потом это отразится в вашей игре. Рок-музыка вышла из блюза, в роковых соло используются блюзовые фразы или производные от них, соответственно слушайте, блюзменов как старых так и современных.</p>
<p>Важно слушать не только гитаристов, неожиданные идеи может подать любой музыкант: пианист, барабанщик… но в первую очередь слушайте вокал! Одним из признаков мастерства гитариста является умение имитировать оттенки человеческого голоса. Все специфические гитарные приемы: бенды, слайды, вибрато подчинены именно этой цели.</p>
<p>Блюзовые фразы могут быть бесконечно разнообразны, но есть и общие моменты, например, часто применяется вопросно-ответная структура. «Вопрос»- обычно восходящая фраза оканчивающаяся на высокой ноте, «ответ» - нисходящая, оканчивающаяся на низкой, хотя все это достаточно условно. Иногда таким образом выстраивается целый драматический диалог (вот еще один способ заставить звучать гитару как голос!)</p>
<p>Фразы, начинающиеся из-за такта, звучат более энергично и напористо, чем фразы с первой доли. После того как у вас «накрутилось» в голове достаточное количество музыки, пора переложить ее на гриф. Для этого понравившиеся фразы и сочиненные на их основе свои необходимо сначала пропеть, а потом уже попытаться подобрать на гитаре. Пение это важнейший момент в выработке внятной фразировки. Дело в том, что внутри себя мы всегда правильно слышим и чувствуем музыку, и пение помогает озвучить то, что мы слышим и уже потом перенести это на гриф. Таким образом пение это связующее звено между тем, что вы чувствуете и тем что вы играете. Сначала у вас может не получаться спеть то, что вы слышите внутренним ухом, не отчаивайтесь, благодаря систематическим занятиям вы рано или поздно придете к приемлемому результату.</p>
<p>Большую помощь в блужданиях по грифу дает теория. В большинстве блюзовых фраз используется минорная и, реже, мажорная пентатоники, уже изученные нами. Пение поможет подобрать удачную аппликатуру для той или иной фразы, ведь даже две ноты, взятые последовательно на одной струне, отличаются от них же на соседних струнах.</p>
<p>В некоторых фразах используются проходящие ноты - они образуются при хроматическом движении от одной ступени пентатоники к другой. В блюзе (доминантсептаккорд в качестве тонического) вы можете применять, как проходящие, ноты одноименной мажорной гаммы и тритоны от тоники. Таким образом, в хорошо нам известном I боксе минорной пентатоники можно использовать эти ноты:</p>

<p><img width=101 height=95 src="./data/img/solo/j1.gif"></p>

<p>Составьте сами аппликатуры для остальных боксов.</p>
<p>При добавлении проходящих нот в пентатонических боксах возникают аппликатуры по три ноты на струне. Они могут использоваться в скоростных пассажах (см. скоростные пассажи) и тэппинге (см. тэппинг).</p>
<p>Для отработки фразировки бесценную помощь приносит «съем»- подбор по слуху понравившихся фраз. В такой имитации нет ничего зазорного, так учились играть практически все гитаристы - копируя своих кумиров, они вырабатывали собственный стиль. «Снятая» фраза запоминается гораздо лучше, чем выученная по нотам, это как головоломка, разгадав которую, вы запоминаете ее конструкцию. Для того чтобы повторить понравившуюся фразу, необходимо сначала пропеть ее и уже потом найти на грифе. Большую помощь в «съеме» может оказать компьютер - в некоторых программах можно замедлять фонограмму без сдвига тональности, чтобы лучше все расслышать. Всегда анализируйте «снятую» фразу: в каком ладу она сыграна, на какой аккорд гармонии, какие ноты акцентируются и почему?</p>
<p>«Снятые» фразы отрабатывайте по схеме ритм-соло, сначала играете какой-нибудь рифф, к примеру на два такта, и вслед за этим 2-х тактовую фразу:</p>


<p><img width=418 height=73 src="./data/img/solo/j2.gif"></p>

<p>Благодаря такому способу, вы быстрее начнете применять «снятые» фразы в своей игре. Этот метод проиллюстрирован в заключительной композиции.</p>
<p>Таким образом можно придумывать и собственные фразы: сначала вы играете рифф и придумываете фразу, потом попеваете придуманную фразу, потом снова рифф, во время которого вы думаете, как эту фразу сыграть и наконец воспроизводите фразу на гитаре.</p>
<p>Если у вас не получилось с первого раза воспроизвести, то, что вы спели, обязательно остановитесь и разыщите эти ноты. Со временем вы будете «попадать» все чаще и чаще. Это долгий процесс, но он значительно улучшит вашу фразировку, так что наберитесь терпения.</p>


