




<h3>Построение рок-соло.</h3>

<p>Прежде всего, не забывайте, что соло - это импровизация на основную тему песни или композиции. Попробуйте сочинить его, отталкиваясь от основной мелодии. Вы можете сочинить его в голове, а потом, взяв гитару в руки, просто найти нужные ноты. Наверное, это самый правильный подход в построении соло, но все же вдохновение приходит не всегда, поэтому существует и другой, аналитический подход.</p>
<p>Большинство роковых соло состоит из 2-х, реже - 4-х тактовых блоков скомбинированных между собой. Это могут быть фразы, «вертушки», клише, пассажи и т.д. Конечно, далеко не все они начинаются точно с 1 доли 2-х тактового отрезка, они могут начинаться из-за такта, или с какой-либо доли (слабой 8-й или 16-й) первого такта фрагмента. В нашей школе эти блоки-фрагменты выделены лигами в каждом соло. Это и есть «кубики», из которых гитарист строит соло.</p>
<p>Иногда встречается прием «суммирование»: двум коротким фразам отвечает фраза в два раза длиннее, или «дробление»: после длинной фразы следуют две короткие.</p>
<p>Во многих экспрессивных роковых соло используется метод контрастности: клише сменяются пассажем, пассаж длинным бендом, далее «вертушка», блюзовая фраза и т.д. В то же время, хорошее соло может просто состоять из красивых фраз, скомбинированных по принципу вопрос-ответ (см.«Фразировка»).</p>
<p>Для развития ощущения двух тактовых отрезков применяется тот же метод, что и при занятиях фразировкой - игра по схеме ритм-соло (см. фразировка).</p>
<p>Хорошее соло всегда имеет вступление, развитие, кульминацию и завершение, это как-бы отдельная мини-композиция в песне. Во многом такая логическая последовательность достигается за счет опорных нот - нот от которых или к которым ведется фраза или пассаж. Как правило, эти ноты большей длительности и являются аккордовыми тонами гармонии. Если соединить такие ноты между собой, получится контур соло. В некоторых соло в этой школе, где опорные ноты наиболее ярко выражены, контур соло выписан отдельно.</p>
<p>Старайтесь анализировать чужие соло: какие лады применяются, как происходит развитие, что вам в соло нравится.</p>
<p>Понравившиеся пассажи и фразы не стесняйтесь вставлять в свои соло - так поступают все, и в этом нет ничего зазорного. Вы можете попробовать составить соло по схеме: своя фраза (пассаж, «вертушка») - чужая-своя-чужая и т. д.</p>



