




<h3>Скоростные пассажи</h3>

<p>Скоростными пассажами начинающие гитаристы стремятся овладеть в первую очередь. Все считают, что играть быстро это круто, и, в принципе, это действительно так (не будем кривить душой). В тоже время рок-гитара - это не только пассажи, чтобы стать профессиональным музыкантом необходимо так же заниматься фразировкой, ритмикой, звукоизвлечением, теорией, сольфеджио, не говоря уже о такой глыбе, как ритм-гитара (ей-то как раз в первую очередь!) Но все хотят научиться играть быстро, поэтому обойти эту тему вниманием мы просто не имеем права.</p>
<p>Итак, пассажи: в первую очередь вы должны знать следующее - подавляющее большинство пассажей играются либо 16-ми нотами, либо секстолями:</p>

<p><img width=326 height=77 src="./data/img/solo/g1.gif"></p>

<p><img width=462 height=85 src="./data/img/solo/g2.gif"></p>

<p>Первая группа создает виртуозное ощущение в быстрых темпах, вторая в умеренных. В балладах виртуозный эффект создают 32-е ноты, то есть те же 16-е, но в два раза быстрей. Сочиняя соло или импровизируя, вы, в зависимости от темпа композиции, можете использовать либо пассажи из первой группы, либо из второй.</p>
<p>Несколько слов о том, как работать над пассажами:</p>
<p>Разучивайте их в медленном темпе, не торопитесь. Быстрая бесконтрольная игра - вредная привычка, от которой трудно избавиться. Соблюдайте указанную пальцовку и штрих медиатора.</p>
<p>Не напрягайте руки и все тело. Это непросто, но зажатыми руками быстро вы не сыграете, за то, наживете кучу проблем со здоровьем (это не шутка!)</p>
<p>Контролируйте дыхание: во время быстрой игры есть тенденция к его задержке. Вместо этого перед пассажем наберите в грудь воздух и медленно его выпускайте, играя пассаж.</p>
<p>Следите за тем, чтобы ноты игрались с одинаковой громкостью и длительностью, как «горошины». В пассажах с пулами и хамерами ноты, взятые медиатором, не должны быть громче остальных.</p>
<p>Отрабатывайте сложные места в пассаже отдельно. Играйте пассажи в обратных направлениях, то есть восходящий - вниз, нисходящий - вверх, соблюдая ту же пальцовку и штрих медиатора. Обязательно играйте пассажи под метроном. Пассаж только тогда возможно применить, когда он сыгран ритмично. Отрабатывайте пассаж по схеме ритм-соло (см. фразировка). Переносите выученные пассажи в другие тональности.</p>
<p>Поняв принцип, по которому строится тот или иной пассаж, попробуйте изменить в нем ноты. Например, гаммообразный пассаж по 3 ноты на струне изменить на пентатонический с проходящими нотами или наоборот.</p>
<p>Бывает так, что, занимаясь техникой, вы чувствуете, что дошли до предела и выше скорость уже не растет. Конечно, есть и объективные причины - возможно, вы не так давно начали учиться играть на гитаре и пальцы просто пока не готовы. Но все же, как повысить скорость игры помимо «пиления» одних и тех же упражнений и пассажей? Вот несколько советов, касающихся в первую очередь переменного звукоизвлечения:</p>

<p>1. Поработайте над тремоло (переменное звукоизвлечение на одной ноте) причем на разных струнах. После этого, выучив и проиграв в темпе пассаж левой рукой, наложите на него тремоло. Не думайте о каждой ноте, переходите медиатором со струны на струну только приблизительно к тому, как это нужно. Возможно звучать будет грязно, но ваша обычная медиаторная техника (когда вы играете, думая о каждой ноте) улучшится.</p>

<p>2. Попробуйте играть пассажи и упражнения следующим образом: извлеките первую ноту (ударом медиатора вниз), теперь не извлекая вторую (ударом вверх) одновременно поставьте палец левой руки на нужный лад и прислоните медиатор к струне снизу, после этого извлеките вторую ноту, таким же образом сыграйте третью (медиатор будет уже сверху) и т. д.</p>

<p>3. Прибавляйте по одному звуку: сначала свяжите две первые ноты и сыграйте их на максимальной скорости, потом добавьте к ним третью, потом четвертую и т. д.</p>
<p>А теперь давайте, наконец, познакомимся с пассажами. Для удобства все они выписаны в тональности А. В них специально не используются широкие растяжки и прочие сложные элементы, они максимально удобны как для левой, так и для правой руки.</p>

<p>Пассажи 16-ми:</p>

<p>Пассаж 1:Пассаж строится на трелях в Аm пентатонике по одной струне проходящих через все 5 боксов. Движение по одной струне вообще очень естественно для гитары. Медиатором берется только первая нота, остальные играются хамерами и пулами. Обратите внимание на слайд 1 пальцем</p>

<p><img width=479 height=224 src="./data/img/solo/g3.gif"></p>
<p><img width=478 height=227 src="./data/img/solo/g4.gif"></p>
<p>Видео 1</p>

<p>Пассаж 2:Идея с трелями реализуется на всех струнах. Движение происходит по 5, 1 и 2 боксам Am пентатоники вот в такой «диагональной» аппликатуре:</p>

<p><img width=214 height=95 src="./data/img/solo/g5.gif"></p>
<p><img width=604 height=234 src="./data/img/solo/g6.gif"></p>
<p>Видео 2</p>

<p>Пассаж 3:Простая, но эффектная секвенция в первом боксе минорной пентатоники:</p>

<p><img width=101 height=85 src="./data/img/solo/g7.gif"></p>

<p>Эффект смещения достигается за счет нестандартного шага секвенции из шести 16-х. Такого рода пассажи использует Zakk Wylde:</p>

<p><img width=478 height=230 src="./data/img/solo/g8.gif"></p>
<p>Видео 3</p>

<p>Пассаж 4:Еще одна восходящая секвенция в первом боксе пентатоники. Шаг секвенции - две группы 16-х.</p>

<p><img width=575 height=231 src="./data/img/solo/g9.gif"></p>
<p>Видео 4</p>

<p>Пассаж 5:А в этом пассаже в пентатонику добавлены проходящие ноты, таким образом на каждой струне мы имеем по 3 звука.</p>
<p><img width=101 height=95 src="./data/img/solo/g10.gif"><img width=576 height=227 src="./data/img/solo/g11.gif"></p>
<p>Видео 5</p>

<p>Пассаж 6:Если смешать два предыдущих пассажа в один и «наложить» его на «диагональную» аппликатуру с использованием проходящих нот:</p>

<p><img width=201 height=95 src="./data/img/solo/g12.gif"></p>

<p>Получим следующий пассаж:</p>
<p><img width=575 height=240 src="./data/img/solo/g13.gif"></p>
<p>Видео 6</p>

<p>А теперь мы переходим к следующей группе:</p>

<p>Пассажи секстолями:</p>
<p>Перейдем в тональность С мажор (параллельную Am). Будет использоваться следующая аппликатура по три ноты на струне:<img width=151 height=95 src="./data/img/solo/g14.gif"></p>
<p>Вот несколько пассажей- секвенций переменным штрихом из арсенала Paul Gilbert:</p>


<p>Пассаж 7:</p>
<p><img width=591 height=221 src="./data/img/solo/g15.gif"><img width=591 height=223 src="./data/img/solo/g16.gif"></p>

<p>Видео 7</p>

<p>Пассаж 8:<img width=613 height=543 src="./data/img/solo/g17.gif"></p>

<p>Видео 8</p>

<p>Пассаж 9:<img width=621 height=546 src="./data/img/solo/g18.gif"></p>

<p>Видео 9</p>

<p>Пассаж 10:Переходим в тональность Am. В этом пассаже используется повторяющаяся аппликатура на паре струн: В восходящем движении:</p>
<p><img width=226 height=95 src="./data/img/solo/g19.gif"></p>

<p>В нисходящем:</p>
<p><img width=226 height=95 src="./data/img/solo/g20.gif"></p>
<p><img width=618 height=231 src="./data/img/solo/g21.gif">Видео 10</p>

<p>После того как вы освоили эти пассажи, попробуйте наложить их на уже изученную нами «диагональную» аппликатуру пентатоники с проходящими нотами (по три ноты на струне).</p>

<p>Пассаж 11:Возвращаемся в I бокс Am пентатоники. Еще одна фраза Paul Gilbert:</p>

<p><img width=467 height=225 src="./data/img/solo/g22.gif"></p>
<p>Видео 11</p>

<p>Пассаж 12: Этот пассаж похож на уже изученный нами Пассаж 4, сыгранный секстолями вместо 16-х и переменным штрихом.</p>
<p><img width=545 height=228 src="./data/img/solo/g23.gif"></p>
<p>Видео 12</p>

<p>Попробуйте придумать свои пассажи на основе всех этих аппликатур.</p>


















