




<h3>Тэппинг.</h3>

<p>Тэппинг - прием, при котором правая рука, подобно левой, извлекает звуки на грифе гитары приемом hamer on. Популяризированный Eddie Van Halen, в настоящее время он в той или иной степени входит в арсенал всех современных гитаристов.</p>
<p>Благодаря тэппингу можно малыми силами получить гладкое, виртуозное звучание. Углубленное изучение тэппинга не входит в задачу этой школы, мы рассмотрим лишь основные принципы этой техники и несколько несложных пассажей на примере Em пентатоники, иногда с добавочными нотами.</p>

<p>Сначала поговорим о постановке правой руки. Предлагаю воспользоваться постановкой гитариста Reb Beach:</p>

<p><img width=200 height=135 src="./data/img/solo/h1.gif"></p>

<p>При такой постановке за счет опоры на гриф большим пальцем создается устойчивое положение всей руки. Медиатор прячется в сгибе указательного пальца (это можно отработать отдельно), тэп делается средним пальцем.</p>

<p>Следующий важный момент - глушение неиспользуемых струн. Все струны ниже струны, на которой вы играете (басовые), глушатся ладонью правой руки, остальные - пальцами левой.</p>

<p>Как и в обычных пассажах, различают тэппинг 16-ми и секстолями. Сначала поговорим</p>
<p>cекстолях. Это основной паттерн для игры тэппинга секстолями на одной струне (т-тэппируемая нота):</p>
<p><img width=277 height=224 src="./data/img/solo/h2.gif"></p>

<p>Тэппинг секстолями:</p>

<p>Упр. 1 -Простейший способ разнообразить звучание - тэппировать различные ноты:</p>
<p><img width=624 height=543 src="./data/img/solo/h3.gif">Видео 1</p>


<p>Упр. 2 -Этот несложный, но эффектный пентатонический пассаж - применение идеи из Упр.1 по всем струнам:</p>
<p><img width=621 height=549 src="./data/img/solo/h4.gif"></p>

<p>Видео 2</p>

<p>Упр. 3 -Великолепный пассаж маэстро Greg Howe! Последняя нота секстоли берется без медиатора хамером «из ниоткуда»:</p>
<p><img width=588 height=229 src="./data/img/solo/h5.gif"></p>

<p>Видео 3</p>

<p>Упр. 4 -«Закольцевав» первые две секстоли из предыдущего пассажа и изменив последнюю ноту, получаем простую, но клевую «вертушку»:</p>

<p><img width=422 height=229 src="./data/img/solo/h6.gif"></p>
<p>Видео 4</p>


<p>Перейдем теперь к 16-м нотам:</p>

<p>Тэппинг 16-ми:</p>

<p>Упр. 5 -Самый простой способ - заменить один из пальцев левой руки, играя трель.</p>
<p><img width=324 height=226 src="./data/img/solo/h7.gif"></p>
<p>Видео 5</p>

<p>Упр. 6 -Стандартный паттерн для игры 16-х тэппингом. Используются 3 пальца левой руки:</p>

<p><img width=324 height=228 src="./data/img/solo/h8.gif"></p>
<p>Видео 6</p>

<p>Вот несколько пассажей на его основе:</p>

<p>Упр. 7</p>

<p><img width=324 height=230 src="./data/img/solo/h9.gif"></p>
<p>Видео 7</p>

<p>Упр. 8</p>

<p><img width=335 height=229 src="./data/img/solo/h10.gif"></p>
<p>Видео 8</p>

<p>Упр. 9</p>

<p><img width=533 height=230 src="./data/img/solo/h11.gif"></p>
<p>Видео 9</p>

<p>Упр. 10 -Арпеджио аккорда А мажор. Тэппируемая нота все время изменяется, превращая аккорд в А7 и А6:</p>

<p><img width=534 height=228 src="./data/img/solo/h12.gif"></p>
<p>Видео10</p>

<p>Упр. 11- А это, пример того, как можно применить тэппинг в обычном пассаже:</p>

<p><img width=291 height=227 src="./data/img/solo/h13.gif"></p>
<p>Видео11</p>

<p>Тэппинг, это неисчерпаемая тема, освоив эти пассажи, попробуйте применить их на практике, играйте по схеме ритм-соло и, как обычно, придумайте несколько своих идей.</p>


