




<h3>Риффы в тональности А.</h3>

<p>Прежде чем приступить к этой теме, оговоримся, эти риффы встречаются в любой музыке, вышедшей из блюза: блюз-роке, рок-н-ролле, хард-роке, глэм-роке и т.д и прекрасно звучат как на чистом звуке, так и с разной, в зависимости от стиля, степенью дисторшн. Играя с «перегрузом», применяйте глушение правой рукойpalm muting.</p>
<p>Основа этих риффов - Power - аккорд, то есть обыкновенная квинта, к которой добавляются те или иныеступени гаммына разных струнах. Большая часть риффов играется в «открытых» мажорных тональностях: Ми, Ля, Ре*. Для удобства мы рассмотрим принцип построения риффов в наиболее часто встречающейся тональности Ля мажор (в примерах риффов известных исполнителей тональность может быть иной, но сами идеи останутся те же).</p>
<p>Несколько слов о ритмике: вы можете играть эти риффы как ровными 8-ми, так и в ритмесвинг.Не забывайте отсчитывать ногой метр, если есть метроном или драм-машина, используйте и их тоже.</p>

<p>Итак, power-аккорд в «открытой» позиции Ля:</p>

<p><img width=82 height=81 src="./data/img/rhythm/d1.gif"></p>

<p>Первый палец при исполнении риффов не снимается и глушит 3,2 и1 струны. Большой палец приглушает 6 струну:</p>

<p><img width=200 height=135 src="./data/img/rhythm/d2.gif"></p>

<p>Добавим одну ноту на 4 струне (сексту) и получаем простейший блюзовый рифф:</p>

<p><img width=132 height=77 src="./data/img/rhythm/d3.gif"></p>

<p>Рифф № 1</p>

<p><img width=211 height=188 src="./data/img/rhythm/d4.gif"></p>
<p>Видео1</p>

<p>Этот рифф используется в бессчетном количестве песен, вы можете позаниматься им на примере риффаAC/DC - The Jack.</p>

<p>Добавим еще одну ноту на 4 струне (септиму) и получаем несколько усложненную версию первого риффа:</p>

<p><img width=132 height=77 src="./data/img/rhythm/d5.gif"></p>

<p>Рифф №2</p>

<p><img width=211 height=188 src="./data/img/rhythm/d6.gif"></p>
<p>Видео 2</p>

<p>Обратите внимание - 3 палец не снимается со струны, когда ставится 4. Этот рифф так же использовался бесчисленное количество раз, как в «открытой», так и в «закрытых» тональностях, пример-A. Cooper- Dirty Dreams.</p>

<p>Перейдем к добавочным нотам на 5 струне, это мажорная и минорная терции:</p>

<p><img width=132 height=77 src="./data/img/rhythm/d7.gif"></p>

<p>Рифф №3</p>

<p><img width=212 height=188 src="./data/img/rhythm/d8.gif"></p>
<p>Видео 3</p>

<p>Так же как и в Риффе №2, 2 палец не снимается, когда ставится 3.</p>

<p>Очень часто ноты на 5 струне, впрочем, как и на 4, берутся приемами Hammer on и Pull off, например таким образом:</p>

<p>Рифф №4</p>

<p><img width=212 height=189 src="./data/img/rhythm/d9.gif"></p>
<p>Видео 4</p>

<p>Простой риффLed Zeppelin - When The Levee Breaks прекрасная иллюстрация этой техники.</p>

<p>А теперь давайте объединим добавочные ноты на 4 и 5 струнах в один рифф:</p>

<p><img width=132 height=77 src="./data/img/rhythm/d10.gif"></p>

<p>Рифф №5</p>

<p><img width=201 height=215 src="./data/img/rhythm/d11.gif"></p>
<p>Видео 5</p>

<p>Используя эти ноты в сочетании сHammer on и Pull offвы можете сыграть следующие риффы:</p>

<p>Led Zeppelin - Rock'N'Roll</p>
<p>Motley Crue - White Punks of Dope</p>
<p>Cinderella - If You Don't Like It</p>
<p>J. Satriani -Extremist</p>

<p>На 3 струне добавляем секунду, которую можно подтянуть с помощью приемаbendдо мажорной или минорной терций:</p>

<p><img width=157 height=77 src="./data/img/rhythm/d12.gif"></p>

<p>Прекрасный пример этой идеи - рифф Extreme-Decadance Dance.</p>

<p>Кстати, взяв мизинцем две ноты на 1 и 2 струнах на V ладу, мы получаем более «открытое» звучание Ля мажорного аккорда:</p>

<p><img width=132 height=85 src="./data/img/rhythm/d13.gif"></p>

<p>И, наконец, ноты по 6 струне, малая и большая септимы:</p>

<p><img width=132 height=77 src="./data/img/rhythm/d14.gif"></p>

<p>Вот пример риффа с их использованием:</p>

<p>Рифф №6</p>

<p><img width=211 height=196 src="./data/img/rhythm/d15.gif"></p>
<p>Видео 6</p>


<p>Часто малую септиму подтягивают в направлении большой, как в риффе</p>
<p>Extreme - Tell Me Something I Don't Know.</p>

<p>Изучив все эти риффы, попробуйте перенести их в другие «открытые» тональности и придумайте пару новых.</p>

<p>Как реализуются эти идеи в тональности G мажор, посмотрите на следующих риффах:</p>
<p>Motley Crue - All In The Name Of Rock 'N' Roll</p>
<p>AC/DC - Moneytalks</p>

<p>*В блюзе в качестве тонического аккорда используется доминантсептаккорд, имеющий мажоро-минорное звучание, поэтому минорная терция используется в риффах наряду с мажорной.</p>
