




<h3>Аккордовые формы</h3>

<p>В предыдущих уроках вы уже познакомились с некоторыми аккордами. Давайте вспомним их и приведем эти знания в систему.</p>
<p>Перед вами наиболее часто используемые аккорды в первой позиции:</p>

<p><img width=86 height=99 src="./data/img/rhythm/b1.gif"><img width=80 height=99 src="./data/img/rhythm/b2.gif"><img width=86 height=99 src="./data/img/rhythm/b3.gif"></p>

<p><img width=86 height=93 src="./data/img/rhythm/b4.gif"><img width=86 height=93 src="./data/img/rhythm/b5.gif"></p>

<p>Эти аппликатуры получили названияаккордовых форм, как видите всего их 5 по названию аккордов в открытой позиции которым они соответствуют:A (Am), D (Dm), G, CиE (Em). Не путайте: аккорд, это сочетание звуков с тоникой на определенной высоте, а аккордовая форма - чисто графическое, прикладное понятие.</p>
<p>Таким образом, любой аккорд можно взять в 5 аккордовых формах используя 1 палец левой руки в качестве порожка (прием баррэ), например:</p>

<p><img width=340 height=120 src="./data/img/rhythm/b6.gif"></p>

<p>В свою очередь, любую из аккордовых форм можно перемещать по грифу с помощью баррэ и получать со сменой позиции новые аккорды:</p>

<p><img width=86 height=93 src="./data/img/rhythm/b7.gif"><img width=104 height=93 src="./data/img/rhythm/b8.gif"><img width=129 height=93 src="./data/img/rhythm/b9.gif"></p>

<p>На практике применяются 2 основные формы:E(Em)с тоникой по 6 струне и A (Am)с тоникой по 5 струне. Перемещая их по грифу, можно получить любые мажорные и минорные аккорды:</p>

<p><img width=155 height=128 src="./data/img/rhythm/b10.gif"><img width=163 height=126 src="./data/img/rhythm/b11.gif"></p>

<p>Таким образом, чтобы построить любой аккорд в выбранной части грифа, вам нужно найти на какой струне (5 или 6) находится ближайшая тоника и подставить соответствующую аккордовую форму.</p>

<p>Несколько слов о приемебаррэ: суть этого приема в том, что 1 палец лежит параллельно ладу «плашмя» на грифе, в то время как остальные пальцы зажимают соответствующие ноты:</p>

<p><img width=200 height=135 src="./data/img/rhythm/b12.gif"><img width=200 height=135 src="./data/img/rhythm/b13.gif"></p>


<p>Прижимайте 1 палец вблизи лада, если какие-либо из струн не звучат, попробуйте передвинуть палец вверх или вниз и найти оптимальное положение. Обращайте внимание только на те струны, за которые непосредственно отвечает 1 палец (на фото вверху 1,2,3 и 6), об остальных позаботятся другие пальцы.</p>
<p>В формеAm1 палец лежит на всех струнах кроме 6, ее он приглушает верхней частью:</p>

<p><img width=200 height=135 src="./data/img/rhythm/b14.gif"></p>

<p>Когда играются мажорные аккорд в формеA, 3 палец зажимает 2,3 и 4 струны (прием полу-баррэ), 1 палец зажимает 5 струну и глушит 6, 1 струной приходится жертвовать ради удобства игры:</p>

<p><img width=200 height=135 src="./data/img/rhythm/b15.gif"></p>

<p>Вообще на электрогитаре проблем с баррэ намного меньше, чем на акустике: низкое положение струн и радиус грифа облегчают выполнение этого приема. Вместе с этим на электрогитаре аккорды с баррэ применяются чаще, чем аккорды в открытой позиции, так как их легче глушить: достаточно ослабить давление на струны левой рукой.</p>

<p>Этот прием иллюстрируется риффом Offspring - Why You Don't Get A Job?</p>




