




<h3>Ритм гитара</h3>

<p>В этом разделе мы поговорим об аккомпанементе. Хотите вы этого или нет, но гитара -  это в первую очередь аккомпанирующий инструмент. Начинающие гитаристы часто забывают про это, посвящая все свое время разучиванию и игре разнообразных соло (обычно представляя себя лихо «нарезающими» виртуозные пассажи на стадионе «Уэмбли»), однако как только они попадают в свою первую группу все встает на свои места: большая часть времени уходит на аккомпанемент вокалисту и игру всевозможных риффов и только иногда есть возможность «оторваться» в соло.</p>
<p>Любой опытный музыкант подтвердит: грамотно, со вкусом построить и ритмично сыграть ритм - партию не менее сложно, чем выдать очередное «сокрушительное» соло. К тому же попробуйте вспомнить: когда последний раз с экрана телевизора при просмотре очередного популярного клипа вы слышали соло на гитаре? То-то и оно… времена меняются (да и «Уэмбли» снесли).</p>
<p>Ну не будем о грустном - игра аккомпанемента и риффов - занятие не менее «крутое» и веселое. При работе над упражнениями и риффами не забывайте про метроном, следите за правильной работой медиатора, не слишком напрягайте правую руку: короче выполняйте те же рекомендации, что и в предыдущих разделах.</p>
<p>Разобрав принципы, по которым строятся риффы, попробуйте на их основе придумать свои.</p>
<p>И наконец: здорово сыгранный рифф сможет произвести не меньший эффект чем виртуозное соло, играйте риффы, именно в них - душа рок-н-ролла!</p>


