




<h3>Построение ритм-партии.</h3>

<p>Вы уже знаете, что в роке аккомпанемент играется power-аккордами (см. Первые шаги/ power-аккорды и pulm-muting). То есть любой вид аккорда в песне, мажорный, минорный и т. д. заменяются на power-аккорд. Для этого из стандартных аппликатур аккордов с баррэ (см. Аккордовые формы) берутся 2 или 3 нижние ноты и играются с дисторшн:</p>

<p><img width=107 height=102 src="./data/img/rhythm/k1.gif"><img width=107 height=102 src="./data/img/rhythm/k2.gif"><img width=107 height=104 src="./data/img/rhythm/k3.gif"><img width=107 height=104 src="./data/img/rhythm/k4.gif"></p>

<p>К примеру, возьмем такую распространенную «испанскую» аккордовую последовательность:</p>

<p><img width=76 height=92 src="./data/img/rhythm/k5.gif"><img width=76 height=92 src="./data/img/rhythm/k6.gif"><img width=79 height=92 src="./data/img/rhythm/k7.gif"><img width=81 height=92 src="./data/img/rhythm/k8.gif"></p>
<p>5 6 7 3 4 5</p>

<p>Превратим обычные аккорды в power-аккорды:</p>

<p><img width=76 height=93 src="./data/img/rhythm/k9.gif"><img width=76 height=93 src="./data/img/rhythm/k10.gif"><img width=79 height=93 src="./data/img/rhythm/k11.gif"><img width=81 height=93 src="./data/img/rhythm/k12.gif"></p>
<p>5 6 7 3 4 5</p>

<p>Теперь поговорим о ритмике: самое простое и веселое - сыграть эти аккорды целыми нотами (из-за визуального сходства со всем известным овощем их называют картошками). Вся прелесть в том, что пока звучит взятый аккорд можно принимать мужественные позы, швыряться медиаторами и корчить рожи публике.</p>
<p>Итак:</p>

<p>Вариант №1-«картошки»:</p>

<p><img width=242 height=223 src="./data/img/rhythm/k13.gif"></p>


<p>Следующий шаг: играем эти аккорды «чесом», то есть приглушенными 8-ми нотами в стиле панк-групп 90-х (Offspring, Blink 182, Green Day):</p>

<p>Вариант №2- чес:</p>
<p><img width=623 height=218 src="./data/img/rhythm/k14.gif"></p>


<p>Можно комбинировать приглушенные 8-е с «открытыми» четвертями, например вот так:</p>

<p>Вариант №3:</p>

<p><img width=536 height=221 src="./data/img/rhythm/k15.gif"></p>

<p>Еще один вариант: отказаться от pulm-muting, использовать переменное звукоизвлечение и добавить паузы:</p>

<p>Вариант №4:</p>
<p><img width=619 height=218 src="./data/img/rhythm/k16.gif"></p>

<p>В общем, вариантов как видите много.</p>

<p>А теперь перейдем с дробления 8-ми на шестнадцатые. Следующий вариант аккомпанемента придется по душе поклонникам heavy-metal и скачек - это стандартный металлический «галоп» (Kirk и James были здесь):</p>

<p>Вариант №5- галоп:</p>
<p><img width=623 height=500 src="./data/img/rhythm/k17.gif"></p>


<p>Ритм-партий 16-ми великое множество, например:</p>

<p>Вариант №6:</p>
<p><img width=634 height=506 src="./data/img/rhythm/k18.gif"></p>

<p>Следующий шаг- добавим к power-аккордам вспомогательные ноты (в данном случае из А минорной гаммы):</p>

<p>Вариант №7:<img width=634 height=503 src="./data/img/rhythm/k19.gif"></p>


<p>Есть еще один способ построить хорошую ритм-партию - играйте риффы! Если вы послушаете некоторых исполнителей, то обнаружите, что часто вступительный рифф песни служит аккомпанементом в припеве или куплете.</p>
<p>В качестве примера нестандартного подхода к ритм-партиям послушайте, как аккомпанирует гитарист Nuno Bettencourt в группе Extreme.</p>



