




<h3>Одноголосые риффы.</h3>

<p>Одноголосые риффы (риффы, в которых не используются интервалы и аккорды) получили широкое распространение в рок-музыке 70-х за счет Led Zeppelin и Deep Purple. В наши дни они актуальны благодаря таким группам как Rage Against The Machine, Muse и др.</p>
<p>Многие из таких риффов строятся на основе пентатоники в 1 боксе. Часто они играются в октаву с бас-гитарой. Каких-то специальных упражнений эти риффы не требуют, в них используются те приемы, которые мы уже изучили - так что играйте и наслаждайтесь:</p>
<p>Led Zeppelin - How Many More Times</p>
<p>-Heartbreaker</p>

<p>Rage Against The Machine - Bombtrack</p>
<p>- Killing In the name</p>
<p>- Know Your Enemy</p>
<p>- Wake Up 2</p>
<p>Muse - Ashamed</p>




