




<h3>Что такое рифф?</h3>

<p>Рифф - это короткий повторяемый музыкальный фрагмент. Очень часто рифф это «лицо» песни, по которому она узнается с первых тактов (например Smoke On The Water). Риффы в песне используются в качестве вступления, аккомпанемента в куплете или припеве, в кульминации, концовке - где угодно.</p>
<p>Как правило, роковые риффы играются на нижних струнах, которые в сочетании с дисторшн дают мощное звучание.</p>
<p>Все рок-риффы можно разделить на несколько видов (все они изучаются в этой школе): одноголосные, в «открытых» тональностях на основе квинты, блюзовые в Е мажоре, с «педальным» тоном, аккордовые. Правда, разделение это достаточно условное, так как в одном риффе могут встречаться комбинации этих видов.</p>
<p>Поняв принципы по которым строятся риффы, попробуйте придумать что-нибудь свое. Не бойтесь показаться банальным, но и не страшитесь экспериментов.</p>



