




<h3>Аккордовые риффы.</h3>

<p>Как вы уже догадались из названия, это риффы с использованиемаккордов. Они играются преимущественно на «чистом» или не сильно «перегруженном» звуке, так как при сильных искажениях ноты аккорда могут хуже читаться.</p>
<p>Пионерами этого стиля были Keith Richards (The Rolling Stones) и Jimi Hendrix.</p>
<p>Hendrix редко играл аккорды с баррэ, стандартную аппликатуру он заменял следующей:</p>

<p><img width=200 height=135 src="./data/img/rhythm/j1.gif"><img width=200 height=135 src="./data/img/rhythm/j2.gif"></p>

<p>При такой аппликатуре пальцы левой руки более свободны, что он и использовал, обыгрывая каждый такой аккорд нотами из мажорной пентатоники и различными интервалами.</p>
<p>Пример использования этих аппликатур можно найти в этих риффах:</p>

<p>Jimi Hendrix -Purple Haze</p>
<p>Lenny Kravitz - Fly Away</p>

<p>А вот как можно получить звучание a la Rolling Stones:</p>
<p>Возьмем с помощью баррэ аккорд А мажор в 1 позиции</p>

<p><img width=107 height=80 src="./data/img/rhythm/j3.gif"></p>

<p>Добавив уже известную нам сексту на 4 струне и кварту на 2 струне, мы преобразуем этот аккорд в Ре мажор с нотой Ля в басу:</p>

<p><img width=132 height=80 src="./data/img/rhythm/j4.gif"></p>

<p><img width=200 height=135 src="./data/img/rhythm/j5.gif"></p>

<p>Сочетая эти аккорды можно получить звучание, а la Rolling Stones:</p>

<p><img width=324 height=189 src="./data/img/rhythm/j6.gif"></p>
<div class="audio-file">
    <span class="audio-file-label">Аудио 1</span>
    <audio controls>
        <source src="./data/audio/06081.wav" type="audio/wav">
    </audio>
</div>

<p>Посмотрите, как работает в этом риффе:</p>
<p>AC/DC - Rock 'n' Roll Damnation</p>

<p>Такие аккордовые риффы можно использовать и в «закрытых» позициях:</p>

<p>Motley Crue-Kickstart My Heart</p>
<p>-Don't Go Away Mad</p>


