




<h3>Риффы с педальным тоном.</h3>

<p>Риффы с педальным (постоянно повторяющимся) тоном получили широкое распространение в 80-е годы в стилях heavy metal и hard rock. Идея достаточно простая - на фоне постоянно звучащей «открытой» струны E, A или D играются вкрапления интервалов, чаще всего кварт, соответствующих разным аккордам. Педальная нота в этом случае является тоникой.</p>
<p>Сыграв риффы из этого раздела попробуйте использовать в качестве педального тона другие «открытые» струны (например, если рифф в Ля сыграйте его в Ми и Ре).</p>

<p>А вот и сами риффы:</p>

<p>Ozzy Osbourne - I Don't Know</p>
<p>- A.V.H.</p>
<p>Whitesnake - Still Of The Night</p>


