




<h3>Блюзовые риффы в Е мажоре.</h3>

<p>В открытой тональности Е мажор часто играют риффы с использованиемминорной пентатоникив первом боксе, вот как она выглядит:</p>

<p><img width=82 height=87 src="./data/img/rhythm/f1.gif"></p>

<p>Такого рода риффы чаще всего используются блюзменами, но иногда встречаются и у крутых рокеров -AC/DC - Back In Black.</p>
<p>Lenny Kravitz-Are You Gonna Go My Way</p>

<p>Иногда используетсяslideк двум нотам из следующего бокса:</p>

<p><img width=104 height=75 src="./data/img/rhythm/f2.gif"></p>

<p>Такого рода звучание можно услышать в риффе:</p>
<p>Creedence Clearwater Revival - Green River</p>




