




<h3>Как работать над упражнениями.</h3>


<p>Прежде чем мы начнем заниматься несколько слов о том, как работать над упражнениями, риффами и соло в этой школе.</p>
<p>Прослушайте звуковой файл упражнения, следя за нотами. Разберите его на гитаре, соблюдая указанные штрихи в правой руке и пальцовку левой. Начинайте играть в медленном темпе, когда почувствуете уверенность, темп можно увеличить.</p>
<p>Если в упражнении один или два такта, это не значит, что сыграв его один раз, можно переходить к следующему. Играйте пока не почувствуете, что вам это так же легко, как чистить зубы. Знак репризы в конце упражнения в данном случае указывает, что упражнение надо повторить не меньше 10-15 раз.</p>
<p>Если вы уже освоились, постарайтесь сыграть упражнение «под ногу»- первая и третья доля- пятка, вторая и четвертая- носок и т. д. Старайтесь чтобы нога работала уверенно, поначалу играть с ней будет неудобно, но потом вы привыкните. Главное - подстраивайте вашу игру (работу рук) под ритм ноги, а не, наоборот, для этого простучите ногой «пустой такт» и играйте под заданный ею ритм. В дальнейшем используйте метроном.</p>
<p>Никуда не торопитесь, разбирайте новые упражнения и осваивайте новые аппликатуры в медленном темпе, как бы «забивая» их в пальцы. Контролируйте работу рук.</p>



