




<h3>Постановка левой руки. Позиция. Аппликатура.</h3>


<p>Как уже было сказано ранее (см постановка правой руки) левая рука прижимает струны на грифе гитары. Перед вами традиционная постановка левой руки, применяемая гитаристами играющими на классической гитаре (далее такую постановку мы будем называть классической):</p>

<p><img width=200 height=135 src="./data/img/fsteps/d1.gif"><img width=200 height=135 src="./data/img/fsteps/d2.gif"></p>

<p>Такая постановка применяется и на электрогитаре при игре пассажей, аккордов, power-аккордов и риффов.</p>
<p>Пальцы опускаются на струны примерно под прямым углом, сохраняя во время игры округлое серпообразное положение, ладонь слегка повернута в сторону туловища (пальцы руки как бы «смотрят» на гитариста, а не в потолок).</p>
<p>Большой палец упирается в заднюю часть грифа повыше его середины и уравновешивает давление остальных пальцев на струны. Если убрать гриф большой палец окажется между указательным и средним. Очень важно в процессе игры поддерживать прямое положение большого пальца не сгибая его в фаланге.</p>
<p>Ладонь не в коем случае не должна касаться грифа, между ней и грифом должно быть расстояние достаточное, чтобы к примеру просунуть карандаш.</p>

<p>При игре таких приемов как бенд, вибрато, а так же некоторых пассажей с использованием хамеров и пулов применяется альтернативная постановка правой руки (далее мы будем называть ее блюзовой):</p>

<p><img width=200 height=135 src="./data/img/fsteps/d3.gif"><img width=200 height=135 src="./data/img/fsteps/d4.gif"></p>

<p>Как видите основное отличие блюзовой постановки от классической- положение большого пальца- он обхватывает гриф сверху и вся рука как бы висит на большом пальце. Благодаря такому его положению левая рука более устойчива, что необходимо для исполнения бендов и вибрато, правда остальные пальцы более скованны.</p>
<p>При желании большой палец может приглушать 6 струну, это используется при игре некоторых power-аккордов и риффов.</p>
<p>В блюзовой постановке ладонь, в месте где она соединяется с указательным пальцем, может касаться грифа для большей устойчивости (особенно при бендах и трелях).</p>
<p>Во время игры гитаристы применяют обе постановки, быстрый пассаж сменяет тягучий бенд и т. д. таким образом положение большого пальца все время меняется.</p>
<p>Начинающие гитаристы часто играют на гитаре одними пальцами, оставляя запястье руки неподвижным. Это большая ошибка, запястье движется вслед за пальцами и музыкальной фразой, слегка покачиваясь взад-перед. Так как это одно из основных движений при игре на гитаре,  остановимся на нем чуть подробнее.</p>
<p>Для того чтобы прочувствовать это движение существует хорошее упражнение:</p>

<p>Упритесь большим пальцем в заднюю часть грифа в районе 5 лада.</p>

<p>Дотянитесь мизинцем до 12 лада на первой струне, не отрывая большого пальца:</p>

<p><img width=200 height=135 src="./data/img/fsteps/d5.gif"></p>

<p>Дотянитесь указательным пальцем до 2 лада на той же струне:</p>

<p><img width=200 height=135 src="./data/img/fsteps/d6.gif"></p>

<p>Несколько раз последовательно повторите эти движения.</p>

<p>Вы почувствовали какой маленький сразу стал гриф? Конечно это утрированное движение и на гитаре так не играют, но принцип покачивания при игре фраз и пассажей тот же.</p>
<p>Несколько слов о пальцах левой руки, во многих пособиях по гитаре их сравнивают с молоточками. Как уже говорилось выше, старайтесь ставить пальцы по возможности перпендикулярно грифу, они могут быть слегка «завалены» вниз (к полу) но никак не вверх (к потолку). Особое внимание уделите мизинцу, у него есть особенность «шлепать» по струне, вместо этого следите за тем, чтобы он, как и остальные пальцы «клевал» струны подушечками пальцев, для этого поддерживайте сгиб между 1 и 2 фалангами и не позволяйте мизинцу распрямляться.</p>
<p>Пальцы левой руки обозначаются следующим образом:</p>

<p><img width=153 height=209 src="./data/img/fsteps/d7.gif"></p>

<p>Старайтесь не пережимать струны пальцами, для этого сами определите минимальное усилие для получения ровного ясного звука. Прижимайте струны непосредственно перед ладами, а не на ладах или между ними. Поначалу подушечки пальцев будут болеть, пока на них не образуются уплотнения.</p>
<p>И самое главное- поддерживайте пальцы, кисть и всю руку в расслабленном положении, скованной рукой вы никогда не сыграете быстро, чисто и с хорошим звуком.</p>

<p>В заключении этой темы поговорим о терминах часто встречающихся в школе и касающихся левой руки- позициях и аппликатуре.</p>

<p>Позиция- место расположения левой руки на грифе. Определяется по расположению большого пальца- если он на 1 ладу, то мы играем в первой или открытой позиции , на 2 ладу - во второй и т.д. Некоторые начинающие гитаристы делают ошибку при смене позиции механически сдвигая руку по грифу и оставляя неподвижным запястье.</p>
<p>Аппликатура- это каким пальцем и в каком месте вы зажимаете ту или иную ноту на грифе. Поскольку одну и ту же ноту можно взять на гитаре на разных струнах, то и одну и ту же фразу можно сыграть разными способами, то есть в разных аппликатурах. Иногда аппликатура изображается в виде схемы грифа с указанием точек прижатия струн. (см. Аккордовые сетки). Тоники выделены красным.</p>

<p><img width=101 height=85 src="./data/img/fsteps/d8.gif"></p>



