




<h3>Удар медиатора вниз. Игра по 6,5 и 4 струнам.</h3>

<p>Играя на гитаре медиатором, в основном используют два вида звукоизвлечения: удар вниз- П и переменное- ПV. Удар П позволяет получать однородные по громкости и тембру звуки и более легок на начальном этапе. Переменное звукоизвлечение позволяет играть более быстро, но несмотря на это многие риффы и фразы играются только ударом вниз.</p>
<p>Играя эти упражнения, обратите внимание на ровное звукоизвлечение- извлекаемые звуки должны быть одинаковой громкости и длительности. Поначалу делайте широкие движения правой рукой, не мельчите, играйте громко.</p>


<p>Упр. 1- Игра по открытым струнам. Это упражнение для правой руки. Используется только удар вниз (П),</p>
<p>Поскольку длительность нот - четверть, при игре «под ногу» каждый звук совпадает с ударом ноги.</p>

<p><img width=151 height=198 src="./data/img/fsteps/f1.gif"></p>
<p>Видео 1</p>

<p><img width=151 height=188 src="./data/img/fsteps/f2.gif"></p>

<p><img width=151 height=183 src="./data/img/fsteps/f3.gif"></p>

<p>Упр. 2- Похоже на предыдущее, только в два раза быстрее. На один удар ноги - два звука.</p>

<p><img width=211 height=198 src="./data/img/fsteps/f4.gif"></p>
<p>Видео 2</p>

<p><img width=211 height=188 src="./data/img/fsteps/f5.gif"></p>


<p><img width=211 height=183 src="./data/img/fsteps/f6.gif"></p>

<p>Упр. 3- Подключаем левую руку. Старайтесь не прерывать темп при переходе от открытой струны к прижатой, и при смене пальцев левой руки. Отработайте подчеркнутые места отдельно.</p>

<p><img width=394 height=198 src="./data/img/fsteps/f7.gif"></p>
<p>Видео 3</p>

<p><img width=396 height=189 src="./data/img/fsteps/f8.gif"></p>
<p>Видео 4</p>

<p><img width=394 height=184 src="./data/img/fsteps/f9.gif"></p>
<p>Видео 5</p>

<p>Упр. 5- Переход со струны на струну. При этом кисть правой руки смещается вверх или вниз. Старайтесь остаться в темпе при смене струны. Приступайте к этому упражнению, только хорошо освоив предыдущие. При переходе с одной струны на другую, избегайте «затыков» и наслаивания одного звука на другой. Стремитесь к слитному звучанию, для этого постарайтесь свести к минимуму время между снятием первого звука и извлечением второго. Отработайте подчеркнутые места отдельно. Не торопитесь.</p>
<p><img width=620 height=761 src="./data/img/fsteps/f10.gif"></p>

<p>Видео 6</p>




