




<h3>Power - аккорды. Palm muting.</h3>

<p>Power - аккордами играется аккомпанемент в роковом стиле. Они заменяют обычные аккорды, так как звучат более жестко и не дают грязи при игре с дисторшн.</p>
<p>Построить power - аккорд от звука очень просто, чаще всего это обыкновенная квинта:</p>

<p><img width=129 height=98 src="./data/img/fsteps/h1.gif"></p>

<p>Нота, от которой построен рower - аккорд, другими словами тоника аккорда, выделена красным. Поскольку это нота G, а интервал между звуками квинта (по латински - пять), сокращенно аккорд записывается как G5. Пальцы левой руки обозначены арабскими цифрами, так же, как в нотах.</p>
<p>Power - аккорды строятся от 6, 5 и 4 струн, при этом аппликатура не меняется, второй звук все время располагается струной ниже и двумя ладами выше основного:</p>

<p><img width=129 height=98 src="./data/img/fsteps/h2.gif"></p>

<p>Если основной звук находится на открытой струне, второй звук располагается струной ниже на 2 ладу:</p>

<p><img width=134 height=98 src="./data/img/fsteps/h3.gif"></p>

<p>Иногда основной тон удваивается для достижения более объемного звучания, тогда аккорд состоит из трех нот:</p>

<p><img width=129 height=98 src="./data/img/fsteps/h4.gif"></p>

<p>Power-аккорды играются с дисторшн и часто правой рукой наотмашь, поэтому очень важно глушить не звучащие струны, чтобы слышать только квинту. Вы же не хотите тряся хайром на сцене, думать о том, по каким струнам играть правой рукой, приглушайте ненужные струны и бейте по всем!</p>
<p>Для этого предлагаю следующее: все струны находящиеся под аккордом глушатся первым (указательным) пальцем левой руки:</p>

<p><img src="./data/img/fsteps/h5.jpg"></p>
<p>Струны над аккордом глушатся с помощью большого и второго пальцев левой руки, а так же первым- ставьте его таким образом, чтобы он касался соседней, более толстой струны:</p>

<p><img src="./data/img/fsteps/h6.jpg"><img src="./data/img/fsteps/h7.jpg"></p>

<p>Следующие упражнения помогут вам развить технику игры power - аккордов. Работайте над ними так же, как и над упражнениями в Уроке 1.</p>

<p>Упр. 1- Игра power - аккордов восьмыми по 6 и 5 струнам. При смене аккорда, пальцы левой руки ослабляют прижатие и скользят вдоль струн от одного аккорда к другому. Двигаясь из аккорда G5 в A5 и обратно, не меняйте расположение пальцев. Старайтесь не прерывать работы медиатора, пусть левая рука подстраивается под правую, а не наоборот.</p>
<p><img width=603 height=499 src="./data/img/fsteps/h8.gif"></p>

<p>Видео 1</p>

<p>Упр. 2- Трех-нотные рower- аккорды по одной группе струн. Поскольку это упражнение схоже с предыдущим, выполняйте те же рекомендации.</p>

<p><img width=602 height=480 src="./data/img/fsteps/h9.gif"></p>

<p>Видео 2</p>

<p>Упр. 3- Power- аккорды в первой позиции на открытых струнах. Сначала потренируйтесь брать аккорды левой рукой. Обратите внимание на изменение постановки левой руки при смене аккорда, не забывайте приглушать не используемые струны. Считайте доли про себя, когда будете играть. Бейте медиатором по всем струнам.</p>

<p><img width=153 height=224 src="./data/img/fsteps/h10.gif"></p>
<p>Видео 3</p>

<p>Упр. 4- Более частая смена аккордов. Переходя от одного аккорда к другому переставляйте пальцы одновременно.</p>

<p><img width=393 height=224 src="./data/img/fsteps/h11.gif"></p>
<p>Видео 4</p>

<p>Упр. 5- работа над акцентами ( &gt; ), выделяйте медиатором первый аккорд в каждом такте.</p>
<p><img width=601 height=480 src="./data/img/fsteps/h12.gif"></p>

<p>Видео 5</p>

<p>Упр. 6- Паузы. Обрывайте звучание аккордов с открытыми струнами с помощью правой руки, а всех других - ослабляя прижим левой.</p>
<p><img width=603 height=233 src="./data/img/fsteps/h13.gif"> Видео 6</p>

<p>Упр. 7- Применение приема Slide (скольжение). Двигайте синхронно весь аккорд.</p>

<p><img width=394 height=223 src="./data/img/fsteps/h14.gif"></p>
<p>Видео 7</p>

<p>Работая над этими упражнениями, вы применяли удар медиатора вниз - П. Попробуйте теперь сыграть Упр. 1, Упр. 2 и Упр.4 переменным штрихом вниз-вверх ПV. При игре 8-ми нотами удары вниз будут совпадать с долями метра 1, 2, 3, 4 ; удары вверх приходятся между долей, на «и»:</p>

<p><img width=213 height=190 src="./data/img/fsteps/h15.gif"></p>

<p>Отработкой переменного штриха мы займемся позже, пока же делайте широкие движения правой рукой, не мельчите.</p>

<p>А теперь, если вы справились с упражнениями,  попробуйте сыграть эти риффы:</p>

<p>Linkin' Park- Numb</p>
<p>Green Day-Welcome To Paradise</p>
<p>- 86</p>
<p>Nirvana - Smells Like Teen Spirit</p>
<p>- In Bloom</p>
<p>The Offspring - Pretty Fly</p>
<p>Bloodhound Gang - Along Comes Mary</p>

<p>Иногда 6 струна перестраивается в Ре в октаву с 4 и аппликатура рower - аккорда становится совсем простой:</p>
<p>В зависимости от ситуации такие аккорды играются 1, 2 или 3 пальцем приемом баррэ. Посмотрите как это выглядит на примере риффа:</p>

<p>Linkin' Park - Don't Stay</p>

<p>Довольно часто играя на электрогитаре с дисторшн применяется глушение струн правой рукой- palm-muting. Этот прием позволяет получить более четкое и разборчивое звучание. Для того чтобы его выполнить, достаточно положить ребро ладони правой руки на струнодержатель (машину) в месте касания струн и извлечь звук. При этом положив руку чуть дальше этого места глушение не будет эффективно, а положив чуть ближе высота взятой ноты изменится (повысится), так как рабочая часть струны сократится. Вам придется потрудиться, чтобы найти правильное положение руки. Имейте в виду, играя palm-muting и переходя от низких струн к более высоким, положение правой руки меняется.</p>
<p>Вот, как этот прием записывается:</p>

<p><img width=211 height=217 src="./data/img/fsteps/h16.gif"></p>

<p>Сыграйте с palm-muting все упражнения из раздела«Удар медиатора вниз» и упражнения 1, 2, 4, 5 из этого урока. В упражнении 5 не заглушайте акцентируемую ноту. Попробуйте сыграть переменным штрихом, при этом не отрывайте правую руку от машины.</p>

<p>Сочетая palm-muting с обычным исполнением рower - аккордов сыграйте эти риффы:</p>

<p>Green Day - When I Come Around</p>
<p>Offspring - Have You Ever</p>
<UL>
<LI>She Has Got Issues</LI>
</UL>



