




<h3>Постановка правой руки.</h3>

<p>Так уж получилось, что на гитаре играют двумя руками: левая прижимает струны на грифе, правая, с помощью медиатора, извлекает звук (для левшей наоборот). Секрет эффектной игры заключается в их скоординированности. Начинающие гитаристы заботятся в первую очередь о развитии левой (беглость пальцев, растяжки, аппликатуры и т. д.). При этом правая рука оказывается в положении бедной родственницы, хотя ее роль трудно переоценить, ведь благодаря ей гитара и звучит. На первых порах уделите правой руке повышенное внимание, чтобы в дальнейшем, работая над левой, она выполняла уже знакомые, отработанные движения. Начинайте свои ежедневные (надеюсь!) занятия с упражнений для правой руки, поверьте, это время не будет потрачено зря (левая рука пока может отдохнуть и съесть шоколадку).</p>

<p>Итак, постановка правой руки:</p>

<p>1.Вытяните руку параллельно полу и расслабьте кисть и запястье:</p>

<p><img width=198 height=169 src="./data/img/fsteps/c1.gif"></p>

<p>2.Сомкните указательный и большой пальцы следующим образом:</p>

<p><img width=198 height=169 src="./data/img/fsteps/c2.gif"></p>

<p>3.Вставьте между ними медиатор:</p>

<p><img width=198 height=169 src="./data/img/fsteps/c3.gif"></p>

<p>4.Теперь перенесите руку на гитару:</p>

<p><img width=327 height=240 src="./data/img/fsteps/c4.gif"></p>

<p>5.Основное движение во время игры происходит за счет работы запястья вверх и вниз, при этом предплечье опирается на корпус (деку) гитары и служит опорой. Расположите ребро ладони на машине (струнодержателе), но не фиксируйте его в этом месте - пусть во время игры оно скользит. Остальные пальцы руки лежат на деке (средний палец может свободно висеть) и скользят по ней синхронно с запястьем. Таким образом, при игре, вся кисть работает как одно целое и движется в плоскости параллельной деке:</p>

<p><img width=327 height=240 src="./data/img/fsteps/c5.gif"></p>

<p><img width=327 height=240 src="./data/img/fsteps/c6.gif"></p>

<p>6. Сохраняйте овал между большим и указательным пальцем, большой палец не должен быть прямым, его фаланга «пружинит». Не сжимайте сильно медиатор, но и не позволяйте ему «гулять»:</p>

<p><img width=198 height=169 src="./data/img/fsteps/c7.gif"></p>

<p>7. Держите медиатор не подушечками пальцев, а так, как на рисунке; основная часть медиатора находится между пальцев, выглядывает только кончик:</p>

<p><img width=100 height=102 src="./data/img/fsteps/c8.gif"></p>

<p>9.Медиатор атакует струну под углом, приблизительно в 30 градусов.</p>

<p><img width=159 height=53 src="./data/img/fsteps/c9.gif"></p>

<p>9. Во время игры контролируйте себя, не позволяйте кисти, руке, плечу и всему телу напрягаться (см. посадка).</p>

<p>10. На протяжении первых недель обучения выполняйте вышеуказанные действия перед каждым подходом к гитаре.</p>


