<h3>Настройка</h3>

<p>Для того чтобы настроить гитару, вы можете воспользоваться этой школой. Настройте открытые (не прижатые левой рукой) струны, чтобы они сливались со следующими нотами:</p>

<p><img width=346 height=91 src="./data/img/fsteps/a1.gif"></p>


<div class="audio-file">
    <span class="audio-file-label">E</span>
    <audio controls>
        <source src="./data/audio/04011.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">A</span>
    <audio controls>
        <source src="./data/audio/04012.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">D</span>
    <audio controls>
        <source src="./data/audio/04013.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">G</span>
    <audio controls>
        <source src="./data/audio/04014.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">B</span>
    <audio controls>
        <source src="./data/audio/04015.wav" type="audio/wav">
    </audio>
</div>
<div class="audio-file">
    <span class="audio-file-label">E</span>
    <audio controls>
        <source src="./data/audio/04016.wav" type="audio/wav">
    </audio>
</div>

<p>Запомните ноты соответствующие открытым струнам, это первый шаг в нелегком пути освоения нот на грифе гитары.</p>
<p>Аналогичную настройку можно произвести, используя клавиатуру пианино или синтезатора:</p>
<p><img width=237 height=156 src="./data/img/fsteps/a2.gif"></p>

<p>При наличии тюнера (см. эффекты), можете использовать его.</p>

<p>Если одна из струн уже настроена, можно настроить остальные по ней, используя следующий принцип: звучание настроенной открытой струны совпадает со следующей (более толстой) прижатой на пятом ладу (то есть при одновременном или последовательном звукоизвлечении образуется интервал прима (см. интервалы) или унисон). Исключение составляет 3 струна, она настраивается в унисон со 2 на 4 ладу. Воспользуйтесь этой схемой:</p>

<p><img width=151 height=91 src="./data/img/fsteps/a3.gif"></p>

<p>Обязательно постарайтесь освоить этот метод настройки. Так как компьютер, тюнер или рояль не всегда могут быть под рукой, остановимся на нем подробнее:</p>
<p>Допустим, вы знаете, что четвертая струна гитары настроена. Для настройки остальных струн сделайте следующее: прижав 5 струну на 5 ладу сравните ее с открытой 4, если звук 5 струны ниже - подтяните ее с помощью колка, если выше - ослабьте. По 5 струне таким же образом настройте 6. Чтобы настроить остальные струны слегка измените принцип: открытую 3 струну настройте в унисон с 4 прижатой на 5 ладу, открытую 2- с 3 на 4 ладу, открытую 1- со 2 на 5 ладу.</p>
<p>Начинающие гитаристы при настройке по струнам иногда не могут определить, выше или ниже та или иная нота, то есть подтягивать или ослаблять настраиваемую струну? Для того чтобы избавиться от этой головной боли ищите унисоны на остальных ладах, например: вы настраиваете 2 струну по1, найдите лад на котором она дает с 1 унисон, если этот лад выше 5 (6, 7, 8, 9…)- подтяните струну, если ниже (4,3…)- ослабьте.</p>
