




<h3>Посадка</h3>

<p>Итак, приступаем к занятиям. Начнем с правильной посадки за гитарой. Перед вами наиболее распространенный вариант:</p>

<p><img width=312 height=300 src="./data/img/fsteps/b1.gif"></p>

<p>Как видите, сидение не слишком высокое, гитара лежит на правой ноге, осанка прямая, тело и руки максимально расслаблены. Особенное внимание обратите на положение рук и угол наклона грифа. Вот несколько наиболее распространенных ошибок:</p>

<p><img width=312 height=300 src="./data/img/fsteps/b2.gif"></p>

<p><img width=312 height=300 src="./data/img/fsteps/b3.gif"></p>

<p><img width=313 height=300 src="./data/img/fsteps/b4.gif"></p>

<p>Возможно, сначала вам и будет удобно играть, сидя таким образом, но в дальнейшем вы почувствуете скованность и дискомфорт. Приучайтесь сразу сидеть правильно - переучиваться всегда сложней.</p>
<p>Поиграв таким образом, попробуйте альтернативную посадку, ее, в основном, применяют классические гитаристы, но иногда и крутые рокеры:</p>

<p><img width=312 height=300 src="./data/img/fsteps/b5.gif"></p>

<p>При такой посадке, облегчается доступ к высоким позициям на грифе, и, возможно, правой руке будет комфортнее.</p>
<p>Главное при посадке, максимально разгрузить верхнюю часть туловища и руки. Вам должно быть удобно сидеть за гитарой - только тогда она станет вашим продолжением и выразителем эмоций.</p>
<p>Посмотрите на всех известных гитаристов: играя, они расслаблены, руки свободны, ничто не напрягается, на лице улыбка, им легко. Конечно, такая свобода достигается путем продолжительных занятий, но, даже на начальном этапе старайтесь анализировать свои ощущения и не давайте телу и рукам напрягаться.</p>
<p>Другой важный момент - правильное дыхание. Чаще всего, начинающие задерживают дыхание при игре, это вредная привычка. Старайтесь дышать ровно и глубоко, так вы сможете играть дольше, не ощущая дискомфорта.</p>
<p>Таким образом, правильная посадка- это расслабленность, ровное дыхание и, как следствие, комфорт при игре. Сидеть за гитарой нужно привыкнуть, если вы устали, не мучайте себя и передохните. Все время помните: занятия на гитаре требуют усердия, но не должны превращаться в боль и страдание, это же рок-н-ролл!</p>



