<h3>Усилители</h3>

<p>Благодаря усилителю и акустической системе (колонке с одним или несколькими динамиками) электрический сигнал превращается в звуковые колебания, улавливаемые ухом.</p>
<p>Гитарные усиление делится на две категории: стэки (stack) и комбо(combo).</p>

<p>Стэк Комбо</p>
<p><img width=160 height=300 src="./data/img/elguitar/d1.gif"><img width=200 height=193 src="./data/img/elguitar/d2.gif"></p>

<p>Как видно из рисунков, у стеков усилитель и колонка (кабинет) находятся в разных корпусах. Они обладают высокой мощностью и применяются на дорогих студиях и при озвучивании стадионных концертов. Это дорогие системы с отличным качеством звучания. Недостаток у стеков только один- как и все гитарные усилители, они раскрывают свои возможности на громкости не менее 50% от номинальной и выше. При наиболее распространенной мощности гитарного стека в 100 ватт это 50 ватт. Поэтому везде, где требуется небольшая громкость они не подходят (побьют соседи по дому; оглохнут ваши друзья-коллеги на репетиции; арт. директор, бармен и посетители небольшого клуба разбегутся, кто, куда и больше в этом клубе играть вы не будете).</p>
<p>Комбо - это усилитель и колонка в одном «флаконе». Они менее мощные - чаще всего от10 до50 ватт, хотя бывает и больше. Они созданы для домашних занятий, репетиций в небольших помещениях и концертов в маленьких клубах. Общее качество звучания у них похуже, но, тем не менее, вполне приемлемо. Плюс они дешевле стоят и удобнее в транспортировке. В дальнейшем и стэки и комбо мы будем называть одним словом - усилитель.</p>
<p>У гитарного усилителя две задачи: сформировать звук (функция предусилителя) и усилить его (этим занимается усилитель мощности - «оконечник»). И предусилители, и «оконечники» бывают ламповые и транзисторные. В зависимости от этого они делятся на следующие категории:</p>

<p>1. Полностью ламповые.Marshall JCM 2000, Mesa-Boogie Rectifier, Fender Twin, Vox AC 30 и другие. Это вершина «линейки» любой фирмы производящей усилители, самые дорогие и престижные. С точки зрения большинства гитаристов они более мягко и музыкально звучат. Когда играешь через такой усилитель, впечатление, что весь звук «у тебя в руках». Они очень чувствительны к силе атаки медиатора, углу его наклона и другим особенностям игры. Два гитариста, играющие по очереди в такой усилитель на одной и той же гитаре, могут звучать совершенно по-разному. На них слышны все огрехи в звукоизвлечении. Это и их недостаток, и их достоинство. К недостаткам относится так же их большой вес и чувствительность ламп к перепадам температуры и механическим воздействиям.</p>

<p>2. Усилители с ламповым предусилителем и транзисторным «оконечником». Marshall Valvestate, Fender Rock Pro, Vox Pathfinder и другие. Этот промежуточный по качеству и цене вариант популярен среди многих рок -гитаристов. Благодаря ламповому предусилителю, они позволяют получить более музыкальный эффект дисторшн, чем полностью транзисторные.</p>

<p>3. Полностью транзисторные. Недорогие модели Marshall, Fender, Vox и других популярных фирм, а так же корейские или китайские Samick, Flight, Phil Pro и другие. Они дешевые, легкие и неприхотливые. На первое время вам их вполне будет достаточно.</p>

<p>У большинства усилителей минимум два канала: один для «чистого» звука, похожего на акустическую гитару, второй для «перегруза»- эффекта дисторшн дающего роковое звучание. Выбор канала осуществляется переключателем на передней панели усилителя. Дорогие модели оборудованы для этих целей еще и педалью footswitch, дающей возможность выбирать каналы не прерывая игры.</p>

<p>Многие усилители имеют встроенный эффект реверберации, дающий имитацию игры в большом зале.</p>
<p>А теперь давайте взглянем на переднюю, панель усилителя, на которой располагаются основные органы управления и выясним, за что они отвечают:</p>

<p><img width=600 height=109 src="./data/img/elguitar/d3.gif"></p>


<p>Clean Volume- управляет уровнем громкости «чистого» канала</p>

<p>Gain-регулятор степени перегрузки (жесткости) канала «перегруза»</p>

<p>Volume-громкость канала «перегруза»</p>

<p>Bass, Middle, Treble-возможность частотной коррекции звука, благодаря этим ручкам можно изменить тембр инструмента- сделать его звук более</p>
<p>звонким, мягким и т.д.</p>

<p>Reverb-регулирует уровень эффекта реверберации</p>

<p>Выбор усилителя зависит от стиля в котором вы хотите играть. Наиболее распространенные марки: Marshall - для рок-музыки (heavy metal, grunge, nu-metal, trash) и Fender- блюз, кантри, рокабилли, фанк.</p>
<p>Если у вас типичная гитара «для начинающих», покупать дорогой усилитель нет смысла, но если у вас инструмент более-менее достойный, не пожалейте времени и денег и подберите для него усилитель приблизительно в той же ценовой категории.</p>

<p>Marshall DSL 201 Lone Star Mesa Boogie Fender Syber Champ</p>
<p><img width=180 height=167 src="./data/img/elguitar/d4.gif"><img width=180 height=149 src="./data/img/elguitar/d5.gif"><img width=180 height=177 src="./data/img/elguitar/d6.gif"></p>


<p>Vox AC30 Trace Еlliot Tramp Orange AD1512</p>
<p><img width=180 height=149 src="./data/img/elguitar/d7.gif"><img width=177 height=137 src="./data/img/elguitar/d8.gif"><img width=180 height=180 src="./data/img/elguitar/d9.gif"></p>



<p>Ampeg SVT-AV Hughes&amp;Kettner Metroverb Randall RG15XM</p>
<p><img width=180 height=95 src="./data/img/elguitar/d10.gif"><img width=172 height=198 src="./data/img/elguitar/d11.gif"><img width=180 height=188 src="./data/img/elguitar/d12.gif"></p>


