



<h3>Шнуры</h3>

<p>Несколько слов о шнурах и джеках.</p>
<p>По возможности не экономьте на них. Звучание дорогой гитары может быть ухудшено применением дешевого шнура. Кроме того, тонкие шнуры «долго не живут», выбирайте толстые. Некачественные джеки обычно создают проблемы в самый неподходящий момент и бывают неудобны в пайке.</p>
<p>Следите за состоянием шнуров, не позволяйте ходить по ним (иногда складывается впечатление, что некоторые делают это нарочно), не ставьте на них стулья. Покупая шнур в магазине, не забудьте сказать, что вам нужен именно гитарный кабель.</p>
<p>Вот несколько популярных производителей: шнуры- Klotz, Horizon, Gepco, Fender; джеки- Neutric, Switchcraft.</p>


<p><img width=300 height=210 src="./data/img/elguitar/g1.gif"></p>



