




<h3>Как выбрать инструмент</h3>

<p>Покупка электрогитары может превратится в очередную проблему, а может стать не менее увлекательным делом, чем игра на ней. Предлагаю пойти по второму пути.</p>
<p>Итак, начнем: прежде всего, определитесь, сколько денег вы хотите потратить. Цена обычного недорогого ученического инструмента - 100-200 долларов. Как правило, это копии Fender Stratocaster различных Китайских или Корейских фирм (Flight, Phil Pro, Alina и т. д.). Выбирая гитару такого уровня, следует обращать внимание на удобство игры и отсутствие видимых дефектов - все основные части должны быть в порядке, гитара должна держать строй, при включении в усилитель гитара должна играть (желательно с приемлемым уровнем шума).</p>
<p>О качестве и характере звука говорить не приходится, но все же если вы хотите играть тяжелый рок - берите гитару с хамбакерами, если блюз и рок-н-ролл - то с синглами. Если вы еще не определились со стилем или хотите более универсальный инструмент, берите гитару с синглами в позиции neck и middle и хамбэкером в bridge.</p>
<p>Следующая категория - гитары от 300 до 700 $. К этим инструментам относятся гитары известных фирм - Fender, Jackson, Ibanez выпущенные не в Америке и (в случае с Ibanez) не в Японии. Кстати если вы без ума от Jimmy Page или Zakk Wylde, а денег на Gibson нет, обратите внимание на корейский Gibson - Epiphone. В отличие от более дорогих своих собратьев у всех этих инструментов похуже дерево, звукосниматели, фурнитура. С такой гитарой вы сможете работать на концертах и делать демо-записи. Это типичные рабочие лошадки. Среди них могут попадаться и неплохо звучащие, составляющие конкуренцию следующей группе:</p>
<p>Гитары от 700 до 1400 $ . Это американские, реже японские гитары Fender, Ibanez, Washburn, Jackson, Music Man, Carvin (список можно продолжать достаточно долго) - вершины модельного ряда этих фирм (выше них по цене именные копии гитар знаменитостей и Vintage- переиздания) Выбирая гитару этой категории основное внимание уделяйте качеству звучания, с остальными параметрами проблем быть уже не должно. Сфера применения схожа с гитарами предыдущей группы, но качество на порядок выше.</p>
<p>И, наконец, последняя категория - от 1400$ и выше. К ней относятся элитные модели фирм предыдущей группы (см. выше); серийные инструменты традиционно стоящие дорого - Gibson Les Paul, PRS, полуакустики Gibson; гитары небольших компаний выпускаемые ограниченным тиражом; старые (1980-70-60-50 года выпуска) Fender и Gibson.</p>
<p>О последних несколько подробнее: цена гитар 1960-х годов сопоставима со стоимостью иномарки, гитары 50-х годов и вовсе стоят заоблачных денег и являются предметами коллекционирования. Что же заставляет гитаристов покупать их? Это ЗВУК!!! На них часто бывает неудобно играть, скорее всего, они требуют ремонта, они все какие-то поцарапанные со сколами, но звук этих гитар заставляет забыть обо всем. Инструменты такого уровня частый гость на топовых студиях, их берут в аренду при записи крупнобюджетных проектов, наконец, это просто вложение денег.</p>
<p>Будем считать вы определились с бюджетом, следующий шаг - определитесь с характером звучания. Какая музыка вам нравится? Какую музыку вы бы хотели играть? Рекомендую еще раз просмотреть статьи этого раздела и хотя бы приблизительно представить свою будущую гитару.</p>

<p>А теперь несколько советов относительно непосредственно покупки:</p>

<p>1.Поиграйте на как можно большем количестве гитар перед покупкой (гитары друзей, знакомых, вашего преподавателя, в магазине). Обойдите как можно больше магазинов - цены могут отличаться. Соберите как можно больше информации.</p>

<p>2.Если вы определились с магазином и готовы к покупке, возьмите с собой более опытного музыканта. Он поможет сделать окончательный выбор, что-то подскажет, поиграет на вашей будущей гитаре, грамотно построит беседу с продавцом. Наконец в его присутствии вы будете ощущать себя более свободно (только не забудьте проставить пиво, если покупка состоится).</p>

<p>3.Не подключайте гитару сразу, послушайте, как звучит дека, не выделяются ли по громкости отдельные струны. Если гитара звучит слишком глухо, ватно, тускло может быть стоит продолжить поиск?</p>

<p>4.Внимательно осмотрите гриф, вот несколько важных моментов:</p>
<p>-волокна древесины с задней стороны грифа должны идти вдоль него, это, так называемый тангенциальный распил. В противном случае гриф может повести.</p>

<p>-попробуйте гриф на ощупь, удобно ли вам будет играть? Как правило, профессиональные гитаристы подстраивают руки под гриф, а не наоборот, но если вы начинающий или любитель вам лучше не испытывать дискомфорт.</p>

<p>-высота струн над грифом в районе 12 лада обычно составляет 2мм (от струны до лада), при игре лады не должны дребезжать. Поиграйте на каждой струне на каждом ладу.</p>

<p>-сделайте несколько слайдов, лады не слишком широкие? Пальцам ничто не мешает? Вам удобно?</p>

<p>-возьмите гитару как скрипач скрипку, посмотрите на гриф вдоль, он должен быть ровный. Если он завален на одну сторону (поведен «винтом»), это исправить невозможно и естественно такую гитару покупать нельзя.</p>

<p>-исследуйте прогиб грифа: зажмите 1 струну на первом и 14 ладу, между струной и 7 ладом должен быть зазор до 0.5 мм. Его регулирует анкерный стержень. Повторите операцию на 6 струне. Если зазора на одной из струн нет или он сильно отличается - не берите этот инструмент.</p>
<p><img width=558 height=150 src="./data/img/elguitar/c1.gif"></p>

<p>-проверьте, крутится ли анкерный стержень это необходимо для сезонных подстроек, если нет - не берите этот инструмент.</p>

<p>-осмотрите крепление грифа к корпусу: никаких зазоров быть не должно, это влияет на сустэйн и отдачу гитары.</p>

<p>-обратите внимание на порожек, он должен быть жестко закреплен на грифе, струны не должны болтаться в прорезях. Если гитара оборудована системой Floyd Rose или ей подобной, проверьте винты на прищепке и фиксацию прищепкой струн.</p>

<p>5.Поиграйте на гитаре по каждой струне на каждом ладу. Некоторые ноты могут звучать тише или громче остальных, особенно на б\у гитарах. Если инструмент достаточно дорогой этого не должно быть.</p>

<p>6.Осмотрите корпус. Если гитара б\у и на нем сколы есть повод поторговаться.</p>

<p>7.Подключите гитару к усилителю, возьмите аккорд, послушайте. Вам нравится этот звук?</p>

<p>8.Проверьте звучание каждого датчика, уровень фона, покрутите регуляторы громкости и тембра - звук должен изменятся плавно, без скачков, при повороте регуляторы не должны хрипеть.</p>

<p>9.Изучите работу системы тремоло, если оно есть, проверьте все ли в порядке с микроподстройкой и колками. Все механические части должны быть на своих местах, ничего не должно болтаться.</p>

<p>10.Проверьте отстройку мензуры (рабочей части струны) для этого сравните флажолет, взятый на12 ладу с нотой на этом же ладу,они должны совпадать. В противном случае попросите продавца отстроить мензуру, это его работа,иначе гитара не будет строить. Повторите операцию с каждой струной. Если мензура хотя бы одной струны не отстраивается - не берите этот инструмент.</p>

<p>11.Теперь главный тест - поиграйте на гитаре какое-нибудь знакомое вам произведение или отрывок. Нравится ли вам звук? Удобно ли рукам? Чувствуете ли вы отдачу? Попросите, чтобы на гитаре поиграл продавец, и послушайте ее со стороны.</p>

<p>12.Задайте себе не менее важный вопрос: вам нравится эта гитара внешне? Не стесняйтесь, это тоже важно. Гитара должна вызывать желание играть на ней. Не случайно гитары одной и той же марки, года, страны изготовления отличаются по цене - дело в цвете. Например, гитары Fender цвета санберст дороже, чем остальные Fender этого уровня.</p>

<p>13.Покупая гитару, держите в голове возможность ее продажи. Очень может быть, что через пару лет она перестанет вас устраивать. Помните, что продать гитару известной фирмы намного легче.</p>

<p>14.Обговорите возможность и сроки возврата вам денег, если, придя домой вы обнаружите скрытые дефекты. За это время покажите гитару вашему педагогу или, если его пока нет- тому самому более опытному музыканту, который, отказавшись пойти с вами в магазин, упустил халявное пиво (когда будете обмывать гитару все же позовите его, он может еще понадобится).Так же магазин должен давать гарантию хотя бы на полгода, если с гитарой что-нибудь случится: поведет гриф и т. д.</p>

<p>15.Теперь, если с гитарой все в порядке, вы ответили самому себе на все вопросы, урегулированы темы возврата и гарантии, покупайте гитару, езжайте домой и играйте!</p>
<p>Конечно от всех этих советов может слегка поехать крыша… Так никто и не обещал что будет легко! Покупка гитары дело приятное, но непростое.</p>

<p>Как общаться с продавцом:</p>

<p>1.Помните, что гитару гораздо прощекупить, чем впоследствии продать. Не забывайте, кто покупатель.</p>

<p>2. Сразу сориентируйте продавца, какой инструмент вам нужен и сколько вы хотите потратить. Старайтесь произвести серьезное впечатление (повалять дурака можно сразу после покупки).</p>

<p>3. Не позволяйте продавцу решать за вас, какой тип гитары вам нужен - вы должны знать это еще до похода в магазин.</p>

<p>4. Не стесняйтесь задавать продавцу любые вопросы по поводу гитары. Поверьте, вы не будете выглядеть смешным, гораздо неприятнее, если ваши сомнения подтвердятся спустя месяц после приобретения инструмента.</p>

<p>5. Если продавец увлекся, показывает вам большое количество гитар и щедро делится знаниями, ни в коем случае не прерывайте его. Эти люди действительно разбираются в гитарах. Не стесняйтесь поиграть на предлагаемых инструментах и мотайте на ус любую информацию. Помните вы не обязаны покупать, если на вас потратили много времени.</p>

<p>Покупка гитары с рук:</p>

<p>1. Почти всегда это выигрыш в цене 30-40%, а иногда и больше.</p>

<p>2. Будьте осторожны: есть риск, что вас могут элементарно обуть. Лучше встречаться на нейтральной территории, где есть возможность послушать гитару через усилитель. С другой стороны не соглашайтесь на встречу в совсем уж удаленном месте - в каком-нибудь гараже на окраине Люберец вас может ждать толпа веселых гопников, которым будет очень интересно проверить, как поведет себя «этот волосатый» в нестандартной ситуации.</p>

<p>3. Знайте - купить чужую гитару это купить чужие проблемы. Ненавязчиво поинтересуйтесь почему ее продают - услышите массу вранья, но может быть что нибудь, что заставит задуматься.</p>

<p>4. Договоритесь о сроках возврата, один день вам по любому должны дать. Если у гитары есть дефекты покажите ее мастеру*, он подскажет на что можно не обращать внимание, что ремонтируется, а что нет.</p>

<p>5. Торгуйтесь, если на гитаре есть сколы, не влияющие на звук, да и просто из принципа. Вам еще будет, на что потратить деньги.</p>

<p>6. Если вы не были знакомы с продавцом лично, обязательно возьмите с собой более опытного гитариста (снова всплыла тема пива!).</p>

<p>В заключение темы совет: как правило, чудес не бывает, и уровень гитары напрямую зависит от ее стоимости.</p>

