




<h3>Устройство и части гитары</h3>

<p>1-гриф</p>
<p>2-корпус</p>
<p>3-звукосниматели (датчики)</p>
<p>4-головка грифа</p>
<p>5-колки</p>
<p>6-бридж (машина)</p>
<p>7-ручки громкости и тембра</p>
<p>8-гнездо под джек</p>
<p>9-лады</p>
<p>10-переключатель звукоснимателей</p>
<p>11-струны</p>

<p><img width=500 height=160 src="./data/img/elguitar/a1.gif"></p>


<p>Итак, перед нами электрогитара, давайте рассмотрим ее части более подробно:</p>


<p>Гриф.</p>

<p>Гриф это сердце любой гитары, если он неисправен, вы не сможете сыграть даже простейшее упражнение. Он влияет на звук не меньше чем любой из ваших датчиков. Это самая дорогая часть гитары.</p>
<p>Грифы делают, в основном, из клена или красного дерева, порода дерева влияет на звук. Накладки (слой дерева в верхней части грифа на котором расположены лады) бывают палисандровые (темные), кленовые(светлые), реже , на дорогих инструментах, из черного дерева (черные).Материал накладки влияет на звук. Толщина грифа также влияет на звук - обычно «чем толще гриф,тем толще звук» (цитата). Имейте в виду, что поначалу вы можете все это не услышать. Подробнее ознакомится с требованиями к грифу</p>
<p>Вы можете в разделе «Покупка электрогитары».</p>

<p><img width=391 height=78 src="./data/img/elguitar/a2.gif"></p>
<p><img width=391 height=66 src="./data/img/elguitar/a3.gif"></p>



<p>Корпус (дека).</p>

<p>От того, как резонирует дека зависит львиная доля звучания гитары. Можно ставить любые датчики, но если дека «мертвая», качественного улучшения звука вы не дождетесь.</p>
<p>Деки делают из ольхи, американской липы, ясеня (стратоподобные гитары, звонкое звучание), или из красного дерева (les Paul, PRS, некоторые Ibanez и ESP)-более мягкий, низкий, роковый звук).</p>

<p>StratocasterLes Paul</p>

<p><img width=131 height=200 src="./data/img/elguitar/a4.gif"><img width=160 height=200 src="./data/img/elguitar/a5.gif"></p>


<p>Обычно дека состоит из нескольких кусков дерева, имейте в виду, что чем их больше, тем вероятнее появление «волчков»- нот отличающихся по звуку от остальных. Оптимальное количество частей - 3.</p>
<p>Дека наряду с грифом - важнейшие части гитары. В основном они определяют ее стоимость. Помните, вы можете поменять звукосниматели, бридж, колки- все что угодно, но замена грифа или деки, дело самое дорогое, а иногда и невозможное. Легче купить другой инструмент.</p>

<p>Звукосниматели (датчики).</p>

<p>Звукосниматели преобразуют колебания струн и в электрический сигнал переменного тока. Происходит это следующим образом: струна колеблется в поле, создаваемом постоянным магнитом (магнитами) датчика. Внутри катушки проволоки, намотанной вокруг этих магнитов, возникает электрический ток, который через провода подается в усилитель.</p>
<p>Зачастую покупкой более дорогих датчиков можно улучшить звучание бюджетных инструментов, придать новую окраску дорогой гитаре, поэтому остановимся на этой теме подробнее.</p>
<p>Звукосниматели делятся на Single и Hambacker, пассивные и активные.</p>

<p>1.Single или Hambacker. Они отличаются даже визуально.</p>

<p>SingleHambacker</p>
<p><img width=275 height=126 src="./data/img/elguitar/a6.gif"><img width=267 height=140 src="./data/img/elguitar/a7.jpg"></p>
<p>Синглы - звукосниматели с одной катушкой (single- одиночный). Для них характерен яркий «чистый» звук. При игре с драйвом или дисторшн они фонят и это главный их недостаток. Самая популярная гитара с синглами- Fender Stratocaster.</p>
<p>Хамбакеры - звукосниматели с двумя катушками. Их звучание более мощное и не такое яркое из-за того, что между центрами катушек, снимающих звук, расстояние 15-17 мм. Конструкция хамбакера такова, что полезный сигнал усиливается, а фон подавляется (hambacking - шумоподавление). На чистом звуке они выдают сглаженный округлый саунд, с перегрузом звучат агрессивно, отчетливо и без фона. Пример гитары с хамбакерами- Gibson Les Paul.</p>

<p>2.Пассивные или активные. Принцип работы пассивных датчиков описан в начале раздела. Активные звукосниматели отличаются от пассивных меньшим количеством витков в катушках, благодаря чему у них широкий частотный диапазон и слабый выходной сигнал. Для его усиления в гитару встраивается предусилитель, работающий от 9 вольтовой батарейки «кроны». Активные датчики бывают как синглы, так и хамбэкеры.</p>



<p>Single EMG Hambacker EMG</p>

<p><img width=224 height=177 src="./data/img/elguitar/a8.gif"><img width=224 height=177 src="./data/img/elguitar/a9.gif"></p>

<p>Многие гитаристы считают их звучание стерильным и ненатуральным, другие же с успехом их используют. Это дело вкуса.</p>
<p>Наиболее известные производители «пассива»- Di Marzio, Seymour Duncan, Fender, Gibson; «актива»-EMG.</p>
<p>В заключение этой темы надо сказать следующее: такие термины при описании звукоснимателей как «Hot», «Vintage», «Pro» очень субъективны и покупка датчика без его прослушивания это лотерея; не имеет смысла пытаться улучшить звук гитары стоимостью 150$, покупая датчик за 70$; ни один звукосниматель не превратит ваш страт в Les Paul.</p>

<p>Бридж (машина, струнодержатель).</p>

<p>Бридж это устройство, с помощью которого струны крепятся к деке.</p>
<p>Существует две разновидности бриджей: с системой тремоло и без. У каждой из них есть свои преимущества и недостатки.</p>

<p>1. Бриджи с системой тремоло. Более распространенное название- машина: Fender, Floyd Rose, Kahler, обычно ставятся на стратокастерах (см. Fender Stratocaster) или стратоподобных инструментах (см.гитары Heavy Metal). Их достоинство заключается в возможности понижать и, в некоторых моделях, повышать правой рукой высоту нот на гитаре. Для этого в ней существует рычаг.</p>

<p><img width=417 height=142 src="./data/img/elguitar/a10.gif"></p>

<p>Гитары с машинами Floyd Rose и Kahler оборудованы запирающимся порожком «прищепкой» и микроподстройкой. Благодаря этому, при активном использовании рычага, инструмент не расстраивается, и всегда имеется возможность скорректировать строй, не, откручивая винты «прищепки».</p>

<p><img width=194 height=138 src="./data/img/elguitar/a11.gif"><img width=177 height=103 src="./data/img/elguitar/a12.gif"></p>


<p>Такие машины позволяют качать струну вверх и вниз на 1.5 - 2 тона и выполнять некоторые веселые фишки в духе Stive Vai. Иногда это выручает на концертах во время соло, особенно когда вконец запутался и не знаешь что играть. В любом случае можно здорово разнообразить свою игру.</p>

<p>Главные недостатки следующие:</p>
<p>-если рвется струна, гитара немедленно расстраивается;</p>
<p>-чтобы заменить струну необходимо проделать множество манипуляций (лезть за ключом от «прищепки», который обычно забывают дома; откручивать, вставлять, закручивать и т. д.);</p>
<p>-гитара сложнее настраивается;</p>
<p>-гитару сложнее перестроить в другой строй;</p>
<p>-машины такого типа наиболее сильно «сжирают» сустэйн (длительность нот);</p>
<p>- из-за большого количества деталей эти машины чаще всего выходят из строя (что-нибудь да сломается);</p>


<p>Гитары с машинами Fender избавлены от всех ухищрений:</p>


<p><img width=156 height=103 src="./data/img/elguitar/a13.gif"><img width=130 height=103 src="./data/img/elguitar/a14.gif"></p>

<p>Благодаря их более простой конструкции с ними меньше проблем, но все же:</p>
<p>-если рвется струна, гитара немедленно расстраивается, правда не так сильно;</p>
<p>-использовать рычаг надо аккуратнее, гитара может расстроиться;</p>
<p>- сустэйн все же уменьшается, хотя это вносит свой колорит;</p>
<p>- эти машины позволяют только понижать строй (качать рычаг вниз).</p>

<p>2. Бриджи без тремоло. Они ставятся на гитары типа Les Paul, Telecaster, некоторые Heavy Metal и полуакустики. Их конструкция еще более простая, количество деталей сведено к минимуму:</p>


<p><img width=166 height=103 src="./data/img/elguitar/a15.gif"></p>

<p>Они лучше держат строй, более певуче звучат, с ними меньше проблем на концертах. Недостаток, как вы уже догадались, только один - нет тех возможностей, которые дает машина.</p>

<p>Какой бридж выбрать зависит от вас, но если вы начинающий, и денег на гитару не много, совет: выбирайте с простым тремоло или вовсе без него. С дешевыми Floyd Rose гораздо больше проблем.</p>
<p>Помните: грамотно, со вкусом использовать машину это тоже искусство.</p>

<p>Электроника(ручки громкости и тембра, переключатель звукоснимателей, гнездо для джека).</p>

<p>Эти детали, за исключением гнезда, служат для изменения характера звучания гитары и регулировки ее громкости. Существует несколько видов их расположения. В каждом из них свои преимущества.</p>
<p>Гнездо служит для подключения гитары к усилителю при помощи шнура.</p>

<p>Струны.</p>

<p>Звучание любой гитары может быть ухудшено использованием старых или некачественных струн. Это расходная статья бюджета любого гитариста. Для того чтобы струны дольше служили перед игрой мойте руки, а после игры протирайте струны специальной сухой тряпочкой. Самые распространенные производители струн: D'Addario, DR, Ernie Ball, GHS, Dean Markley, La Bella. Elixir</p>








