




<h3>Эффекты</h3>
<p>Гитара включенная в усилитель без применения каких либо эффектов звучит похоже на акустическую. Эффекты могут добавить в звучание воздушности, создать эффект игры в большом помещении, добавить новых красок в звучание, полностью изменить звук вашей гитары. Выбор типов эффектов зависит от стиля музыки, которую вы играете. Гитаристу, играющему джаз на полуакустической гитаре, вряд ли придутся по душе некоторые эффекты из арсенала его коллеги «нарезающего» риффы, а ля Metallica.</p>
<p>Звуковые эффекты бывают двух видов: цифровые ( напольные процессоры, рэковые приборы) и аналоговые (педали). Отдельно стоят ламповые предусилители (преампы) выполняемые как в виде педалей, так и в рэковом варианте.</p>

<p>Рэковые приборы - самые дорогие. Как правило, они реализуют эффекты одного типа: дилэй-ревербератор, хорус-фленджер-фейзер. Они применяются в студиях звукозаписи, профессиональными гитаристами на концертах. Во втором случае они управляются с помощью ножного фут-контроллера. Наиболее распространенные производители: TC electronic, Lexicon.</p>

<p><img width=470 height=56 src="./data/img/elguitar/e1.gif"></p>

<p>Напольные процессоры особенно популярны среди начинающих гитаристов. Поначалу процессор может произвести очень сильное впечатление.</p>
<p>Они привлекают пользователей огромным количеством пресетов (готовых звуков), эмуляцией всех известных видов гитарных преампов и характеров «перегрузов», набором всех известных эффектов, удобством использования, сравнительно невысокой стоимостью. Но недостатков тоже хватает и главный из них - невысокое качество звучания. Особенно это заметно при игре с группой на репетиции или концерте - звук вашей гитары «тонет» в общем миксе, как бы громко вы ее не делали. К тому же все возможные преампы и «перегрузы» в процессорах зачастую имеют общую структуру звука. Добавьте к этому слабое реагирование на нюансы медиаторной атаки, благодаря чему на них быстро надоедает играть. Наиболее распространенные производители: Zoom, Digitache, Boss, Korg.</p>
<p><img width=270 height=205 src="./data/img/elguitar/e2.gif"></p>
<p>Третья категория - аналоговые и ламповые педали эффектов, сленговое название «примочки». По звуку они уступают рэковым приборам, но значительно превосходят большинство процессоров.</p>

<p><img width=130 height=219 src="./data/img/elguitar/e3.gif"></p>

<p>Каждая педаль дает один, иногда два схожих эффекта. На «примочках» играют все гитаристы независимо от уровня игры. Многие профессионалы играют только на них, игнорируя рэковые приборы. Здесь надо заметить, что одни и те же эффекты от разных производителей могут существенно отличаться по цене и качеству звука, кроме того, даже недорогие модели иногда дорабатываются на фирме-производителе, или на независимых фирмах.</p>
<p>Так как среди гитаристов есть приверженцы, как процессоров, так и педалей, рассмотрим преимущества и недостатки тех и других в сравнении.</p>
<p>О главном мы уже сказали - в основной своей массе, педали лучше звучат, к тому же если вас перестал устраивать эффект, его всегда можно поменять, это гораздо проще и дешевле, чем продавать весь процессор. Вы можете докупать «примочки» по мере надобности.</p>
<p>Каждая «примочка» автономна, что бы изменить ее звучание, достаточно повернуть одну ручку, в отличие от процессора, в котором надо продираться через меню. С другой стороны представьте себе такую ситуацию: на концерте вы играете аккомпанемент, используя педаль хорус и вам надо перейти на соло с дисторшн и дилеем. Используя примочки надо сделать три действия: выключить хорус, включить дисторшн, включить дилей (при этом хорошо бы еще трясти хайром и швырять медиаторы публике, «давая» рок-н-ролльное шоу). Используя процессор, действие одно - переключить другой канал. Это один из недостатков автономности, вот другой: перед игрой (дома, на репетиции, на концерте) примочки надо доставать из коробочек, соединять их между собой, подключать к каждой адаптер; после игры проделать все в обратном направлении. Это неудобно если вы используете больше двух педалей. При этом всегда есть риск что-то забыть дома или оставить на концерте (на репетиционной базе).</p>
<p>Из этой ситуации есть выход - «посадить» все педали на доску, предварительно скоммутировав и обеспечив их питанием. Тогда вам будет достаточно перед работой подключить к сети эту систему и воткнуть в нее два шнура - из гитары и в усилитель. Подобная конструкция получила название pedal board, ее можно купить или сделать самому.</p>

<p><img width=410 height=280 src="./data/img/elguitar/e4.gif"></p>

<p>И все же примочки, на мой взгляд, правильный выбор, так как процессоры быстро надоедают, а хорошая примочка прослужит долго. Наиболее распространенные производители: Boss, DOD, MXR, Dunlop.</p>

<p>Давайте на примере примочек рассмотрим основные гитарные эффекты.</p>

<p>Дисторшн, овердрайв (distortion, overdrive)</p>
<p>Другой часто употребляемый термин- «перегруз».</p>
<p>Это самый распространенный эффект, присутствующий в арсенале любого гитариста. Он искажает сигнал путем ограничения его по амплитуде, благодаря чему достигается мощное роковое звучание. Дисторшн имеет более искаженное, жужжащее звучание; овердрайв - менее искаженное, хриплое. В дальнейшем, для простоты, мы будем оба этих эффекта называть дисторшн, или «перегруз».</p>
<p>Эти устройства бывают выполнены по ламповой, транзисторной или цифровой технологии. Цифровые «перегрузы» входят в набор эффектов цифровых процессоров и звучат наименее музыкально из всех трех видов. В «примочках» применяют транзисторные схемы, реже- ламповые. Ламповые примочки стоят ощутимо дороже и, в основной массе, лучше звучат.</p>

<p>Boss Overdrive Hugges&amp;Kettner TUBE-FACTOR</p>
<p><img width=130 height=226 src="./data/img/elguitar/e5.gif"><img width=180 height=176 src="./data/img/elguitar/e6.gif"></p>


<p>Помимо «примочек» и процессоров, дисторшн часто бывает встроенным в усилитель (см. усилители), так же отдельно выпускаются ламповые предусилители, реализующие этот эффект.</p>

<p>Mesa-Boogie V-TWIN Мarshall JMP 1</p>
<p><img width=180 height=160 src="./data/img/elguitar/e7.gif"><img width=366 height=135 src="./data/img/elguitar/e8.gif"></p>

<p>Дилей (delay)</p>
<p>Эффект дилей (задержка) дает затухающие повторы основного сигнала. Чаще всего он применяется в паре с дисторшн или овердрайв при игре соло. С помощью него достигается более плотное и разборчивое звучание в общей палитре ансамбля. Время задержки выставляют таким образом, чтобы оно приблизительно совпадало с темпом исполняемого произведения. Дилеи бывают как аналоговые, так и цифровые. В настоящее время чаще используются последние.</p>

<p>BOSS DD-6</p>
<p><img width=135 height=234 src="./data/img/elguitar/e9.gif"></p>

<p>Хорус (chorus)</p>
<p>Хорус - эффект имитирующий исполнение одной и той же партии несколькими инструментами. С помощью его можно добиться более воздушного, прозрачного звучания, напоминающего 12-струнную гитару. Для получения этого эффекта сигнал гитары на входе расщепляют на два канала, один из которых остается без изменений, а другой поступает на линию задержки переменной длительности. На выходе оба канала смешиваются в регулируемой пропорции.</p>

<p>BOSS CH-1</p>
<p><img width=130 height=233 src="./data/img/elguitar/e10.gif"></p>

<p>Фленджер (flanger).</p>
<p>Фленджер зачастую используется в паре с дисторшн, он дает летящее звучание, напоминающее реактивный самолет. Это эффект родственный хорусу, и отличающийся меньшим временем задержки сигнала. Включать одновременно оба этих эффекта нецелесообразно.</p>

<p>BOSS BF-3</p>
<p><img width=130 height=226 src="./data/img/elguitar/e11.gif"><I></I></p>



<p>Вау-вау (wah-wah).</p>
<p>Один из самых популярных и узнаваемых эффектов, обиходное название «квакушка», «квакер». Внешне он отличается от большинства эффектов большими размерами и подвижной педалью. Не вдаваясь в специальные термины, «квакушка» выделяет определенные частоты в звучании гитары и позволяет регулировать их с помощью педали. При быстром перемещении педали и раздается такое знакомое всем кваканье. Этот эффект используется при игре соло в сочетании с дисторшн и в аккомпанементе на чистом звуке.</p>


<p>CRY-BABY</p>
<p><FONT face="Times New Roman"></p>
<p><img width=180 height=123 src="./data/img/elguitar/e12.gif"></p>


<p>Компрессор-сустейнер (compressor-sustainer).</p>
<p>Как видно из названия эта «примочка» компрессирует сигнал, и увеличивает длительность звучания (сустэйн). Благодаря компрессору, ноты на гитаре, взятые громче или тише, выравниваются. Это удобно при сольной игре с дисторшн, и при игре пальцами без медиатора на чистом звуке.</p>

<p>MXR Dyna Comp</p>

<p><img width=128 height=210 src="./data/img/elguitar/e13.jpg"></p>

<p>Октавер (octave).</p>
<p>Октавер добавляет к основному тону звук октавой или двумя ниже, создавая имитацию игры в октаву одновременно двух или трех инструментов.</p>

<p>BOSS OCTAVE-2</p>
<p><img width=126 height=220 src="./data/img/elguitar/e14.gif"></p>


<p>Эквалайзер (equalizer).</p>
<p>С помощью эквалайзера вы можете изменить тембр звучания - добавить или срезать определенные частоты. В педальном варианте применяются графические семиполосные эквалайзеры схожие по внешнему виду и управлению с эквалайзерами бытовых усилителей.</p>

<p>BOSS GE-7</p>
<p><img width=112 height=211 src="./data/img/elguitar/e15.gif"></p>



<p>Тремоло (tremolo)</p>
<p>Работу тремоло проще всего сравнить с вращением ручки громкости усилителя при игре на гитаре. В результате сигнал из сплошного становится прерывистым. Используя этот эффект, старайтесь, чтобы скорость тремоло не вступала в противоречие с темпом музыкального произведения.</p>


<p>DUNLOP TS-1</p>
<p><img width=200 height=160 src="./data/img/elguitar/e16.gif"></p>

<p>Ревербератор (reverb)</p>
<p>В педальном варианте ревербератор встречается редко, но, говоря о звуковых эффектах его нельзя не упомянуть.</p>
<p>Под словом реверберация подразумевается послезвучие, наблюдаемое в помещении после прекращения действия источника звука. Сравните звучание громкого голоса в небольшой комнате и в бассейне, чтобы понять, о чем идет речь.</p>
<p>Таким образом, ревербератор, это устройство, имитирующее акустику различного вида помещений. Как правило, это дорогие цифровые приборы, применяемые на студиях звукозаписи и концертах. В гитарном мире широко распространены пружинные ревербераторы, встроенные в гитарные усилители.</p>

<p>DANELECTRO CORNED BEEF</p>
<p><img width=180 height=201 src="./data/img/elguitar/e17.gif"></p>

<p>Тюнер(tuner).</p>
<p>В заключении хотелось бы сказать о еще одной педали, которая не изменяет звучания гитары, но чрезвычайно полезна на концертах, это тюнер. С помощью него вы всегда сможете подстроить гитару, не раздражая окружающих (при его включении звук в усилитель может не идти). Тюнеры делают в различных вариантах, но если вы собираетесь в дальнейшем выступать, не пожалейте денег и купите педаль.</p>


<p>KORG CA-30BOSS TU-2</p>
<p><img width=200 height=124 src="./data/img/elguitar/e18.gif"><img width=132 height=235 src="./data/img/elguitar/e19.gif"></p>
















