




<h3>Медиаторы</h3>


<p>Выбор медиатора - это личное дело каждого гитариста, так что выбирайте удобный вам сами. Но все же вот несколько рекомендаций: тонкими медиаторами (thin) играют аккомпанемент на акустических гитарах, если вы хотите играть соло и риффы - выбирайте толстые (heavy). Они тоже отличаются: медиаторами от 1 до 1.5 мм удобно играть фразы, более толстые хороши для пассажей переменным штрихом и тремоло.</p>
<p>Производители: Dunlop, Fender, Ibanez и многие другие.</p>


<p><img width=384 height=150 src="./data/img/elguitar/f1.gif"></p>



