





<h3>Распространенные виды и стилевая направленность</h3>

<p>FENDER STRATOCASTER</p>

<p><img width=284 height=93 src="./data/img/elguitar/b1.jpg"></p>

<p>Наверное, это самая популярная гитара за всю историю рок-музыки. Многие считают этот инструмент универсальным. Кока-кола, Микки-Маус, джинсы, виски Jack Daniels, Harley-Davidson, Голливуд, и, в завершение темы, хронически нетрезвый блюзмен (откуда ни будь из Истина, штат Техас) с фендер-стратокастер в руках - вот символы Америки на протяжении уже многих лет. Эта гитара идеально подходит для блюза, фанка и других традиционных американских стилей, где не требуется сильно искаженный звук. Стекло, хрусталь, потрясающая отдача - это все про страт. С другой стороны, при игре с дисторшн он обладает не менее уникальным звуком, надо просто прочувствовать этот инструмент и не пытаться играть на нем что-нибудь в стиле Linkin' Park - для этого есть другие гитары. Fender-Stratocaster есть почти у каждого серьезного гитариста и у нас и на западе, его звучание уже давно классика. Наиболее известные музыканты, ассоциирующиеся со стратом: Jimmy Hendrix, Ritchie Blackmore, Eric Clapton, Stive Ray Vaughan (тот самый нетрезвый гитарист из Техаса). Пример традиционного звучания- альбомы Stive Ray Vaughan.</p>
<p>Можно еще долго петь песни, слагать стихи и визжать от восторга обсуждая этот инструмент, но давайте посмотрим, за счет чего Лео Фендеру удалось создать это чудо:</p>
<p>1. Корпус - ольха или Ясень (реже ash)</p>
<p>2. Гриф - клен</p>
<p>3. Накладка - клен или палисандр</p>
<p>4. Широкая мензура</p>
<p>5. Звукосниматели - синглы (в настоящее время выпускаются модели хамбакеров с посадочным местом под сингл или гитара изначально комплектуется полноразмерными хамбакерами)</p>
<p>6. Крепление грифа - на шурупах</p>
<p>7. Машина - стандартное фендеровское тремоло</p>
<p>Все вместе это и дает «тот самый звук», который полюбили миллионы гитаристов по всему миру.</p>
<p>В настоящее время модель стратокастеры выпускают почти каждая уважающая себя гитарная фирма, но наибольшей популярностью пользуются все те же Фендер. Их делают в США, Японии, Корее, Мексике и Китае. Наиболее качественные - в Америке и Японии, хотя бывают и исключения. Как не странно, японские страты по ощущениям более блюзовые (наверное, за счет профиля грифа), а американские - более скоростные - роковые.</p>
<p>Короче: если вы любите настоящую американскую музыку, если вам нужен инструмент одинаково хорошо звучащий и на чистом звуке, и на перегрузе, то Фендер стратокастер это ваша гитара.</p>

<p>GIBSON LES PAUL</p>
<p><img width=284 height=108 src="./data/img/elguitar/b2.gif"></p>

<p>Еще одна вечная классика, праздник который всегда с тобой, величественный и прекрасный Gibson Les Paul…</p>
<p>В гитарном мире давно уже идет война - Les Paul vs. Strat, что лучше? Непонятно почему еще не сняли на эту тему фильм вроде «Фредди против Джейсона» или не выпустили компьютерную игру (название Guitar Mortal Combat Guitar подойдет?).</p>
<p>Вид лес пола вызывает в памяти скрипки и виолончели Страдивари. Что же касается звука… наверное, никакими словами не передать этот певучий, мощный и округлый тон. На этом инструменте вам не захочется упражняться в быстрых пассажах, вы просто возьмете пару нот и с их помощью расскажете намного больше. Послушайте таких музыкантов как Jimmy Page, Gary Moore, Billy Gibbons они не случайно выбрали Les Paul.</p>
<p>Чистый звук этого инструмента вызывает желание играть джаз: теплый, низкий тон; ощущение глубины и мягкой атаки. С перегрузом лес пол звучит агрессивно, но не зло, мощно, но не грубо, сладко, но не приторно, очень хороший сустэйн. Вообще, на мой взгляд, эта гитара идеальна для современного рока.</p>
<p>Пример типичного звучания - альбом «Still Got The Blues» Gary Moore, последние альбомы Ozzy Osbourne.</p>

<p>Характеристики следующие:</p>
<p>1 Корпус - красное дерево, верх - клен</p>
<p>2 Гриф - красное дерево (реже клен) головка грифа под углом</p>
<p>3 Накладка- палисандр или эбони</p>
<p>4 Малая мензура</p>
<p>5 Звукосниматели - в большинстве случаев хамбэкеры</p>
<p>6 Крепление грифа - вклеенное</p>
<p>7 Машина- «Tune-O-Matic»-без тремоло</p>

<p>По сравнению со стратокастером - никакого сходства, отсюда и кардинально противоположный звук.</p>
<p>Les Paul традиционно дороже стратов - где-то в 2.5 раза, так как они сложнее в производстве. 10 раз подумайте, нужен ли он вам. Если вам просто нравится такая форма, имейте в виду, что ее делают многие производители.</p>
<p>Итак, Les Paul это аристократ в мире электрогитар, его звучание - одно из самых узнаваемых в рок-музыке. Почти каждый гитарист мечтает иметь Les Paul. Если вам нужна гитара с мощным, в меру агрессивным звуком для игры тяжелого рока (nu-metal, grunge, alternative, hard-rock, heavy-metal) без тремоло, лучше гитары не найти.</p>

<p>TELECASTER</p>
<p><img width=284 height=99 src="./data/img/elguitar/b3.jpg"></p>

<p>Телекастер в целом напоминает страт, только более резко и агрессивно звучащий. Еще больше стекла, звона, отдачи, при этом он более певучий (нет тремоло). Это первая в мире широко тиражируемая цельнокорпусная электрогитара. Ее стихия кантри и блюз. Многие гитаристы выбрали телек и не собираются его менять, это: Keith Richards, Bruce Springsteen, Albert Collins и другие. Характеристики в целом схожие со стратом. Типичный пример - альбомы Rolling Stones. Обратите внимание на телек, если вам не дают спокойно спать яркие аккордовые риффы Keith Richards, скрипучие блюзовые соло и виртуозные переборы, а ля банджо.</p>

<p>Гитары НЕАVY METAL</p>

<p><img width=284 height=94 src="./data/img/elguitar/b4.gif"></p>

<p><img width=284 height=86 src="./data/img/elguitar/b5.gif"></p>

<p>Следующие гитары можно определить в одну группу: Jackson, Ibanez, ESP, Washburn Music Man - все эти инструменты предназначены для игры heavy metal (trash, death, doom…вы можете продолжить список сами). Они сделаны для игры с дисторшн, поэтому современный рок на них тоже можно играть. В Как правило все эти гитары оборудованы тремоло Floyd Rose или схожими. Если вы выбираете такую гитару имейте в виду, что с таким тремоло может быть много проблем, если оно не качественное.</p>

<p>Вот краткий список мрачных типов, которые на них играют:</p>

<p>ESP- James Hatfield, Kirk Hammett (Metallica), Max Cavalera (Soulfly), Georgeе Lynch (как, вы не знаете кто это такой?), Kai Hansen (Gamma Ray), Richard Z.(Rammstein).</p>
<p>Ibanez- Joe Satriani, Stive Vai, Head &amp; Monkey (Korn), Noodles &amp; Dexter Holland (Offspring), John 5 (Marilyn Manson)</p>
<p>Jackson- Dave Mystayne &amp; Marty Fridman (Megadeth), Carcass,</p>
<p>Washburn-Nuno Bettencourt (ex - Extrime), Michael Angelo, Jennifer Batten (ну вот добрались и до вас, милые девушки)</p>
<p>Music Man- Eddie Van Halen, Stive Morse (Deep Purple), John Petrucci (Dream Theatre).</p>
<p>Если вы фанат такой музыки, гитары этой категории- то, что «доктор прописал».</p>
<p>Помимо классической формы, среди этих гитар встречаются и довольно экзотические, с причудливой раскраской:</p>

<p>Ibanez IC300BK ESP Armor Custom ESP RS-Flame</p>
<p><img width=91 height=284 src="./data/img/elguitar/b6.gif"><img width=92 height=284 src="./data/img/elguitar/b7.jpg"><img width=98 height=284 src="./data/img/elguitar/b8.jpg"></p>

<p>Jackson King V Jackson Dinky Jackson Kelly</p>

<p><img width=109 height=284 src="./data/img/elguitar/b9.jpg"><img width=87 height=284 src="./data/img/elguitar/b10.jpg"><img width=97 height=284 src="./data/img/elguitar/b11.jpg"></p>

<p>Имейте ввиду:</p>
<p>Гитары этого стиля отличаются по звуку, поэтому, если вы намерены купить хороший инструмент, изучите литературу по влиянию древесины на звук, звукоснимателям, системам тремоло; определитесь с ценовой категорией.</p>

<p>Полуакустические гитары</p>
<p>Это чисто джазовые и блюзовые инструменты, так же их часто используют в стиле рокабилли. Правда, некоторые гитаристы, к примеру Eric Johnson c успехом играют на них и рок, но это скорее исключение из правил. Все они достаточно дороги, наибольшей популярностью пользуются различные модели Gibson.</p>

<p>Gibson Super400 GibsonES-335 Gretch</p>
<p><img width=120 height=284 src="./data/img/elguitar/b12.gif"><img width=118 height=284 src="./data/img/elguitar/b13.jpg"><img width=121 height=284 src="./data/img/elguitar/b14.jpg"></p>

<p>Акустические гитары</p>
<p>Если у вас пока нет возможности купить электрогитару, а дома без дела лежит акустика, вы можете начать заниматься на ней. Но сначала прочитайте этот раздел.</p>
<p>Все акустические гитары делятся на две части: классические с нейлоновыми струнами, и эстрадные с металлическими.</p>

<p>Классическая Эстрадная</p>
<p><img width=117 height=284 src="./data/img/elguitar/b15.jpg"><img width=108 height=284 src="./data/img/elguitar/b16.jpg"></p>

<p>НИКОГДА не ставьте на хорошую классическую гитару металлические струны, вы можете изуродовать инструмент. Оставьте лучше ее на будущее, может в дальнейшем вас увлечет мир классики.</p>
<p>Эстрадных гитар существует множество видов. Вот наиболее часто встречающиеся:</p>

<p>Дредноут Джамбо</p>
<p><img width=123 height=282 src="./data/img/elguitar/b17.gif"><img width=123 height=284 src="./data/img/elguitar/b18.gif"></p>
<p>В принципе, на первых порах, можно заниматься и на них, только бы низко стояли струны. Но если гитары нет никакой, покупайте электрогитару, цены на дешевые акустики и «электрички» одинаковые. Потом докупите усилитель и все остальное.</p>


